<h1 mat-dialog-title>Modificar tarea</h1>

<div mat-dialog-content class="example-container">

  <mat-form-field>
    <mat-select placeholder="Estado" required [(ngModel)]="info.estado">
      <mat-option value="pendiente">Pendiente</mat-option>
      <mat-option value="proceso">En proceso</mat-option>
      <mat-option value="revision">En revisión</mat-option>
      <mat-option value="terminada">Terminado</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-tab-group>
    <mat-tab label="Español">
      <mat-form-field required>
        <input type="text" matInput [(ngModel)]="info.titulo" placeholder="Título de la tarea">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Notas" [(ngModel)]="info.notas"></textarea>
      </mat-form-field>
      <td-file-upload #singleFileUpload [(ngModel)]="file" (select)="uploadEvent($event)" (upload)="uploadEvent($event)"
        (cancel)="cancelEvent()" required *ngIf="!info.url">
        <mat-icon>file_upload</mat-icon>
        <span>{{ singleFileUpload.value?.name }}</span>
        <ng-template td-file-input-label>
          <mat-icon>attach_file</mat-icon>
          <span>
            Seleccione archivo
            <span [hidden]="!singleFileUpload?.required">*</span>
          </span>
        </ng-template>
      </td-file-upload>
      <div class="col-md-12 icon-pdf" *ngIf="info.url">
        <button mat-mini-fab color="warn" (click)="eliminarFile()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Ingles">
      <mat-form-field required>
        <input type="text" matInput [(ngModel)]="info.tituloingles" placeholder="Título ingles">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Notas ingles" [(ngModel)]="info.notasingles"></textarea>
      </mat-form-field>
      <td-file-upload #singleFileUploadIngles [(ngModel)]="fileingles" (select)="uploadEventIngles($event)" (upload)="uploadEventIngles($event)"
        (cancel)="cancelEvent()" required *ngIf="!info.urlingles">
        <mat-icon>file_upload</mat-icon>
        <span>{{ singleFileUploadIngles.value?.name }}</span>
        <ng-template td-file-input-label>
          <mat-icon>attach_file</mat-icon>
          <span>
            Seleccione archivo
            <span [hidden]="!singleFileUploadIngles?.required">*</span>
          </span>
        </ng-template>
      </td-file-upload>
      <div class="col-md-12 icon-pdf" *ngIf="info.urlingles">
        <button mat-mini-fab color="warn" (click)="eliminarFileIngles()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Italiano">
      <mat-form-field required>
        <input type="text" matInput [(ngModel)]="info.tituloitaliano" placeholder="Título italiano">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Notas italiano" [(ngModel)]="info.notasitaliano"></textarea>
      </mat-form-field>
      <td-file-upload #singleFileUploadItaliano [(ngModel)]="fileitaliano" (select)="uploadEventItaliano($event)"
        (upload)="uploadEventItaliano($event)" (cancel)="cancelEvent()" required *ngIf="!info.urlitaliano">
        <mat-icon>file_upload</mat-icon>
        <span>{{ singleFileUploadItaliano.value?.name }}</span>
        <ng-template td-file-input-label>
          <mat-icon>attach_file</mat-icon>
          <span>
            Seleccione archivo
            <span [hidden]="!singleFileUploadItaliano?.required">*</span>
          </span>
        </ng-template>
      </td-file-upload>
      <div class="col-md-12 icon-pdf" *ngIf="info.urlitaliano">
        <button mat-mini-fab color="warn" (click)="eliminarFileItaliano()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>




</div>

<div mat-dialog-actions align="end">
  <div fxFlex></div>
  <button mat-button class="btn-cancelar" (click)="cerrar()" cdkFocusInitial>Cancelar</button>
  <button mat-button class="btn-crear" (click)="guardar()" [disabled]="!info.titulo || !info.notas || !info.estado">Guardar</button>
</div>
