body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.main-section {
    margin: 0 auto;
    margin-top: 15%;
    background-color: #fff;
    border-radius: 5px;
    padding: 0px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
}

.user-img {
    margin-top: -50px;
    display: inline-flex;
    justify-content: center;
}

.user-img img {
    height: 100px;
    width: 100px;
    background-color: #fff;
    padding: 1em;
    border-radius: 100px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
}

.user-name {
    margin: 10px 0px;
}

.user-name h1 {
    font-size: 20px;
    color: #676363;
    padding-top: 1em;
}

.user-name button {
    position: absolute;
    top: -50px;
    right: 20px;
    font-size: 30px;
}

.form-input button {
    width: 100%;
    margin-bottom: 20px;
}

.link-part {
    border-radius: 0px 0px 5px 5px;
    background-color: #ECF0F1;
    padding: 15px;
    border-top: 1px solid #c2c2c2;
}

.open-modal {
    margin-top: 100px !important;
}

.backdrop{
    opacity: 1 !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../../../assets/background-banner.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .3;
    background-color: #000;
}
