  <div class="backdrop"></div>

  <div class="col-lg-4 col-sm-8 col-12 main-section">
    <div class="modal-content">
      <div class="col-lg-12 col-sm-12 col-12 user-img">
        <img src="assets/LogoEsp.svg">
      </div>
      <div class="col-lg-12 col-sm-12 col-12 user-name">
        <h1>Ingreso / Entry / Ingresso</h1>
      </div>
      <div class="col-lg-12 col-sm-12 col-12 form-input">
        <form>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Correo / Email" name="email" [(ngModel)]="info.email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Contraseña / Password" name="password" [(ngModel)]="info.password">
          </div>
          <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" name="idioma" [(ngModel)]="info.idioma">
              <option selected value="">Idioma / Language / Lingua</option>
              <option value="español">Español</option>
              <option value="english">English</option>
              <option value="italiano">Italiano</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success" (click)="login()" [disabled]="!info.email || !info.password || !info.idioma">Ingresar / Enter / Accedere</button>
        </form>
      </div>
    </div>
  </div>
