<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre documento</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nombre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idioma">
      <mat-header-cell *matHeaderCellDef mat-sort-header>idioma</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.idioma}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de subida</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.createdAt | date: 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="opciones">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" class="pull-right-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item [href]="row.url" target="blank">Ver documento</a>
          <button mat-menu-item (click)="ir(row)">Modificar</button>
          <button mat-menu-item  (click)="eliminar(row)">Eliminar</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="lista.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
