<h1 mat-dialog-title>Modificar sección de documento</h1>

<div mat-dialog-content class="example-container">

  <mat-form-field>
    <input matInput [(ngModel)]="info.seccion" placeholder="Sección" readonly>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="info.idcarpeta" placeholder="ID Carpeta">
  </mat-form-field>

</div>

<div mat-dialog-actions align="end">
  <div fxFlex></div>
  <button mat-button class="btn-cancelar" (click)="cerrar()" cdkFocusInitial>Cancelar</button>
  <button mat-button class="btn-crear" (click)="guardar()">Modificar</button>
</div>
