<section class="actividades">

  <div class="row contenedor-mensaje">
    <div class="col-sm-12">

      <ul class="opciones-actividades">
        <li class="active">
          <a class="tappable" *ngIf="idioma=='español'">Liturgias </a>
          <a class="tappable" *ngIf="idioma=='english'">Liturgies </a>
          <a class="tappable" *ngIf="idioma=='italiano'">Liturgie </a>
        </li>
        <li>
      </ul>
      <!--<p class="introduccion" *ngIf="idioma=='español'">
        ESPAÑOL Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum mauris vitae felis imperdiet porttitor. Phasellus
        in erat iaculis, mollis dui a, auctor nisi. Suspendisse consequat elit in augue pretium, sit amet posuere sem ultrices.
        Suspendisse maximus aliquet feugiat. Nam fringilla nunc purus, et dapibus tellus elementum eu. In quis congue nisl,
        nec vulputate nunc.
      </p>

      <p class="introduccion" *ngIf="idioma=='english'">
        ENGLISH Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum mauris vitae felis imperdiet porttitor. Phasellus
        in erat iaculis, mollis dui a, auctor nisi. Suspendisse consequat elit in augue pretium, sit amet posuere sem ultrices.
        Suspendisse maximus aliquet feugiat. Nam fringilla nunc purus, et dapibus tellus elementum eu. In quis congue nisl,
        nec vulputate nunc.
      </p>

      <p class="introduccion" *ngIf="idioma=='italiano'">
        ITALIANO Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum mauris vitae felis imperdiet porttitor. Phasellus
        in erat iaculis, mollis dui a, auctor nisi. Suspendisse consequat elit in augue pretium, sit amet posuere sem ultrices.
        Suspendisse maximus aliquet feugiat. Nam fringilla nunc purus, et dapibus tellus elementum eu. In quis congue nisl,
        nec vulputate nunc.
      </p>-->

      <div class="row">
        <div class="row" [ngClass]="{'col-sm-12': !carpetaLiturgiaSeleccionada, 'col-sm-6': carpetaLiturgiaSeleccionada}">
          <div class="card-liturgia" [ngClass]="{'col-sm-2': !carpetaLiturgiaSeleccionada, 'col-sm-4': carpetaLiturgiaSeleccionada}"
              *ngFor="let item of carpetas; let i = index;" (click)="seleccionarCarpeta(item)">
            <div class="card liturgias" [ngStyle]="{'background-image': 'url(' + item.foto + ')'}" *ngIf="item.foto">
              <div class="card-body">
                <h6 class="card-title" *ngIf="idioma=='español'">{{item.nombre}}</h6>
                <h6 class="card-title" *ngIf="idioma=='english'">{{item.nombreingles}}</h6>
                <h6 class="card-title" *ngIf="idioma=='italiano'">{{item.nombreitaliano}}</h6>
              </div>
            </div>
            <div class="card liturgias" style="background-image: url('../../../assets/mock-background-liturgia.png')" *ngIf="!item.foto">
              <div class="card-body">
                <h6 class="card-title" *ngIf="idioma=='español'">{{item.nombre}}</h6>
                <h6 class="card-title" *ngIf="idioma=='english'">{{item.nombreingles}}</h6>
                <h6 class="card-title" *ngIf="idioma=='italiano'">{{item.nombreitaliano}}</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 contenedor-liturgias" *ngIf="carpetaLiturgiaSeleccionada">
          <button type="button" class="close" aria-label="Close" (click)="cerrarLiturgia()">
            <span aria-hidden="true">&times;</span>
          </button>

          <h5 style="color: #b1504d;margin-bottom:1em;" *ngIf="idioma=='español'">
            <fa [name]="'chevron-left'" *ngIf="carpetaLiturgiaSeleccionada.padre != carpetaliturgiaid" class="tappable" (click)="seleccionarCarpetaVolver(carpetaLiturgiaSeleccionada)"></fa>
            {{carpetaLiturgiaSeleccionada.nombre}}
          </h5>

          <h5 style="color: #b1504d;margin-bottom:1em;" *ngIf="idioma=='english'">
            <fa [name]="'chevron-left'" *ngIf="carpetaLiturgiaSeleccionada.padre != carpetaliturgiaid" class="tappable" (click)="seleccionarCarpetaVolver(carpetaLiturgiaSeleccionada)"></fa>
            {{carpetaLiturgiaSeleccionada.nombreingles}}
          </h5>

          <h5 style="color: #b1504d;margin-bottom:1em;" *ngIf="idioma=='italiano'">
            <fa [name]="'chevron-left'" *ngIf="carpetaLiturgiaSeleccionada.padre != carpetaliturgiaid" class="tappable" (click)="seleccionarCarpetaVolver(carpetaLiturgiaSeleccionada)"></fa>
            {{carpetaLiturgiaSeleccionada.nombreitaliano}}
          </h5>

          <div class="alert alert-danger" role="alert" *ngIf="idioma=='español' && carpetasLiturgiaSeleccionanda.length <= 0 && documentos.length <= 0">
            <fa [name]="'exclamation-circle'"></fa> Esta liturgia no contiene carpetas ni documentos
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="idioma=='english' && carpetasLiturgiaSeleccionanda.length <= 0 && documentos.length <= 0">
            <fa [name]="'exclamation-circle'"></fa> This liturgy does not contain folders or documents
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="idioma=='italiano' && carpetasLiturgiaSeleccionanda.length <= 0 && documentos.length <= 0">
            <fa [name]="'exclamation-circle'"></fa> Questa liturgia non contiene cartelle o documenti
          </div>

          <h6 class="titulo" *ngIf="carpetasLiturgiaSeleccionanda.length > 0">
            <span *ngIf="idioma=='español'">
              Carpetas
            </span>
            <span *ngIf="idioma=='english'">
              Folders
            </span>
            <span *ngIf="idioma=='italiano'">
              Cartelle
            </span>
          </h6>
          <table class="table table-hover ">
            <tbody>
              <tr *ngFor="let item of carpetasLiturgiaSeleccionanda" class="tappable">
                <td (click)="seleccionarCarpetaHijo(item)">
                  <fa style="color: #b1504d;margin-right:.3em;" [name]="'folder'"></fa>
                  <span *ngIf="idioma=='español'">
                    {{item.nombre}}
                  </span>
                  <span *ngIf="idioma=='english'">
                    {{item.nombreingles}}
                  </span>
                  <span *ngIf="idioma=='italiano'">
                    {{item.nombreitaliano}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <h6 class="titulo" *ngIf="documentos.length > 0">
            <span *ngIf="idioma=='español'">
              Documentos
            </span>
            <span *ngIf="idioma=='english'">
              Documents
            </span>
            <span *ngIf="idioma=='italiano'">
              Documentazione
            </span>
          </h6>
          <table class="table table-hover ">
            <tbody>
              <tr *ngFor="let item of documentos">
                <td class="tappable" (click)="selecturl(item,content)" *ngIf="idioma == 'español' && item.idioma == 'español' || idioma == 'english' && item.idioma == 'ingles' || idioma == 'italiano' && item.idioma == 'italiano'">
                  <fa style="color: #b1504d;margin-right:.3em;" [name]="'file'"></fa>
                  <span>
                    {{item.nombre}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" style="border:none;">
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <iframe [src]='urlselect' style="height:80vh; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </div>
</ng-template>

<ngx-spinner *ngIf="idioma=='español'" bdColor="rgba(159,40,32,1)" size="default" color="#ffffff" type="ball-fussion"  loadingText="Un momento por favor"></ngx-spinner>
<ngx-spinner *ngIf="idioma=='english'" bdColor="rgba(159,40,32,1)" size="default" color="#ffffff" type="ball-fussion" loadingText="One moment, please"></ngx-spinner>
<ngx-spinner *ngIf="idioma=='italiano'" bdColor="rgba(159,40,32,1)" size="default" color="#ffffff" type="ball-fussion" loadingText="Un momento, per favore"></ngx-spinner>
