.opciones-actividades {
    padding: 0;
    list-style: none;
    display: inline-flex;
    li {
        margin: 0 0 0;
        font-size: 3em;
        a {
            color: #EE7835 !important;
        }
        a:hover {
            text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
            text-decoration: none !important;
        }
        border-bottom: 4px solid #9F2820;
    }
}

p.introduccion {
    color: #565857;
    font-family: "Roboto";
    text-align: justify;
}

.actividades {
    padding: 2em 1em 2em 3em;
    background-color: #ECEBEB;
}

.card.liturgias {
    width: 100%;
    height: 200px;
    background-size: cover;
    border: 0;
    margin-bottom: 1em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
}

.contenedor-liturgias {
    background-color: #fff;
    margin-left: 1em;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);

    .titulo {
      color: rgba(0, 0, 0, .4);
    }
}
.tappable {
  cursor: pointer;
}
.col-sm-2.card-liturgia,
.col-sm-3.card-liturgia,
.col-sm-4.card-liturgia,
.col-sm-6.card-liturgia {
    padding-right: 0;
    margin-right: 0;
    position: relative;
    .card-title {
        position: absolute;
        bottom: 0;
        top: initial;
        left: 0;
        padding: 10px;
        background: rgba(159, 40, 32, 0.8);
        right: 0;
        margin: 0;
        color: #fff;
        font-weight: 100;
        text-align: center;
        transition: 3s;
        animation: decrecer 1s;
    }
}

.card-liturgia:hover {
    .card-title {
        top: 0;
        animation: crecer .5s;
    }
}

.contenedor-documento {
    height: 100%;
    background-color: #9F2820;
    ;
}

@keyframes crecer {
    from {
        top: 100px;
    }
    to {
        top: 0;
    }
}

@keyframes decrecer {
    from {
        top: 0;
    }
    to {
        top: 78%;
    }
}

.modal-dialog {
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
}

.modal-content {
    height: auto;
    min-height: 95%;
    border-radius: 0;
}
