<h1 mat-dialog-title>Registro de categoria</h1>

<div mat-dialog-content class="example-container">

  <mat-form-field>
    <input matInput [(ngModel)]="info.nombre" placeholder="Nombre en Español" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="info.nombreingles" placeholder="Nombre en Inglés">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="info.nombreitaliano" placeholder="Nombre en Italiano">
  </mat-form-field>

</div>

<div mat-dialog-actions align="end">
  <div fxFlex></div>
  <button mat-button class="btn-cancelar" (click)="cerrar()" cdkFocusInitial>Cancelar</button>
  <button mat-button class="btn-crear" (click)="guardar()" [disabled]="!info.nombre">Crear categoria</button>
</div>
