<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="uid">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Uid</mat-header-cell>
      <mat-cell (click)="ir(row)" *matCellDef="let row">{{row.uid}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="posicion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Posición</mat-header-cell>
      <mat-cell (click)="ir(row)" *matCellDef="let row">{{row.posicion}}</mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="correo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>email</mat-header-cell>
      <mat-cell (click)="ir(row)" *matCellDef="let row">{{row.correo}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre asistente</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nombre}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="configuracion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Configuración</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.configuracion}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idioma">
      <mat-header-cell *matHeaderCellDef mat-sort-header>idioma</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.idioma}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
      <mat-cell (click)="ir(row)" *matCellDef="let row">{{row.tipo}}</mat-cell>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="opciones">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" class="pull-right-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="eliminar(row)">Eliminar</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="lista.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
