.mat-cell {
    color: #0091ae;
    cursor: pointer;
}

.mat-cell:hover {
    text-decoration: underline;
}

.mat-column-nombre {
    flex: 0 0 20%;
    text-align: left;
}

.mat-column-correo {
    flex: 0 0 20%;
    text-align: left;
}
