<h1 mat-dialog-title>Registro de asistente</h1>

<div mat-dialog-content class="example-container">

  <div class="row">
    <div class="col-md-12">
      <div class="boton-agregar" *ngIf="!info.foto">
        <td-file-input [(ngModel)]="files" (select)="cargarImagen($event, 'imagen')" color="primary" accept="image/*" class="suputamadre">
          <mat-icon>add</mat-icon>
          <p>Foto de perfil</p>
        </td-file-input>
      </div>


      <div class="col-md-3 preview-image" *ngIf="info.foto"[ngStyle]="{'background-image': 'url(' + info.foto + ')'}">
        <button mat-mini-fab color="warn" (click)="eliminarFoto()" >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="col-md-12">
      <mat-form-field>
        <input matInput [(ngModel)]="info.nombre" placeholder="Nombre completo" required>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field required>
        <input type="email" matInput [(ngModel)]="info.correo" placeholder="Correo electrónico">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field>
        <input type="text" matInput [(ngModel)]="info.configuracion" placeholder="Configuración">
      </mat-form-field>
    </div>




    <div class="col-md-4">
      <mat-form-field>
        <mat-select placeholder="País" required [(ngModel)]="info.pais">
          <mat-option [value]="item.name" *ngFor="let item of paises">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field>
        <mat-select placeholder="Idioma" required [(ngModel)]="info.idioma">
          <mat-option value="español">Español</mat-option>
          <mat-option value="ingles">Ingles</mat-option>
          <mat-option value="italiano">Italiano</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="col-md-4">
      <mat-form-field>
        <mat-select placeholder="Tipo de asistente" required [(ngModel)]="info.tipo">
          <mat-option value="participante">Participante</mat-option>
          <mat-option value="staff">Staff</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field required>
        <input type="number" matInput [(ngModel)]="info.posicion" placeholder="Posición">
      </mat-form-field>
    </div>

</div>

<div mat-dialog-actions align="end">
  <div fxFlex></div>
  <button mat-button class="btn-cancelar" (click)="cerrar()" cdkFocusInitial>Cancelar</button>
  <button mat-button class="btn-crear" (click)="guardar()" [disabled]="!info.nombre || !info.correo || !info.configuracion || !info.idioma">Crear asistente</button>
</div>
