.contenedor-mensaje {
    padding: 3em 12em 0em;
}

.foto-papa {
    background-image: url("../../../assets/foto-papa.png");
    min-height: 350px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.frase-papa {
    text-align: right;
    h2 {
        color: #EE7835;
    }
    h4 {
        color: #1F4027;
    }
    p {
        color: #565857;
        font-weight: 300;
        line-height: 20px;
        word-spacing: auto;
    }

}
