<div class="row contenedor-mensaje">
  <div class="col-sm-6 foto-papa">
  </div>
  <div class="col-sm-6 frase-papa">
    <h2 *ngIf="idioma=='español'">Mensaje del santo padre</h2>
    <h2 *ngIf="idioma=='english'">Message from the holy father</h2>
    <h2 *ngIf="idioma=='italiano'">Messaggio dal santo padre</h2>


    <h4>Papa Francisco</h4>
    <p *ngIf="idioma=='español'" [innerHtml]="info.contenido">

    </p>
    <p *ngIf="idioma=='english'" [innerHtml]="info.contenidoenglish">

    </p>
    <p *ngIf="idioma=='italiano'" [innerHtml]="info.contenidoitaliano">
    </p>
    <a [href]="info.url" target="_blank" *ngIf="idioma=='español'" class="btn btn-danger btn-lg">
      <span>Ver discurso</span>
    </a>
    <a [href]="info.urlenglish" target="_blank" *ngIf="idioma=='english'" class="btn btn-danger btn-lg">
      <span>See speech</span>
    </a>
    <a [href]="info.urlitaliano" target="_blank" *ngIf="idioma=='italiano'" class="btn btn-danger btn-lg">
      <span>Vedi discorso</span>
    </a>
  </div>
</div>
