<!-- Loguin cuando no ese logueado -->
<div class="main-container">
  <!-- Sidebar Access -->
  <aside class="sidebar-large">
    <div class="user-access">

      <div class="user-access-header">
        <a>
          <img src="assets/LogoEsp.svg" class="logo" width="50">
        </a>
        <p class="intro-title" style="margin-top: 1em;">Ingresa a tu cuenta</p>
      </div>

      <div class="user-access-form" style="margin-top:2em;">

        <form (ngSubmit)="login()" *ngIf="showLogin">
          <div class="input-wrapper">
            <input autocomplete="off" type="text" name="email" id="email" class="email" placeholder="Correo electrónico"
              [(ngModel)]="item.user">
          </div>
          <div class="input-wrapper">

            <input autocomplete="off" type="password" name="password" id="password" class="clave" placeholder="Contraseña"
              [(ngModel)]="item.password">
          </div>
          <input type="submit" name="submit" id="submit" value="INGRESAR" class="enviar">
        </form>
      </div>
      <div class="user-access-form" *ngIf="!showLogin">

        <form (ngSubmit)="restart()">
          <div class="input-wrapper">
            <input autocomplete="off" type="text" name="email" id="email" class="email" placeholder="Correo electrónico para restablecer"
              [(ngModel)]="item.user">
          </div>
          <input type="submit" name="submit" id="submit" value="Restablecer" class="enviar">
        </form>
      </div>
      <div class="user-access-footer" *ngIf="!showLogin">
        <p class="link">
          <a (click)="showLogin = !showLogin">Iniciar sesión</a>
        </p>
      </div>
    </div>
  </aside>
  <!-- Content Slideshow  -->
  <section class="content">
    <div class="hero-login bg-cover" style="background-image: url('assets/background-banner.jpg');">

    </div>
  </section>
</div>
