.barra-opciones-grupo {
    height: 150px;
    background-color: #9F2820;
    padding-top: 51px;
    .btn {
        width: 200px;
        color: #9F2820;
    }
    .btn:hover {
        opacity: .8;
    }
    .btn-right {
        text-align: right;
    }
    .btn-left {
        text-align: left;
    }
}

a:target~#articulos section {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px);
}

a[ id="galeria"]:target~#main section {
    -webkit-transform: translateY( -500px);
    transform: translateY( -500px);
}

a[ id="contacto"]:target~#main section {
    -webkit-transform: translateY( -1000px);
    transform: translateY( -1000px);
}
