<barra-navegacion></barra-navegacion>
<hero-banner></hero-banner>
<mensaje-papa></mensaje-papa>
<section class="barra-opciones-grupo">
  <div class="row">
    <div class="col-sm-6 btn-right">
      <button type="button" class="btn btn-default btn-lg" routerLinkActive="active" [routerLink]="['/participants']">
        <span *ngIf="idioma=='español'">Participantes</span>
        <span *ngIf="idioma=='english'">Participants</span>
        <span *ngIf="idioma=='italiano'">Partecipanti</span>
      </button>
    </div>
    <div class="col-sm-6 btn-left">
      <button type="button" class="btn btn-default btn-lg" routerLinkActive="active" [routerLink]="['/groups']">
        <span *ngIf="idioma=='español'">Grupos de trabajo</span>
        <span *ngIf="idioma=='english'">Work groups</span>
        <span *ngIf="idioma=='italiano'">Gruppi di lavoro</span>
      </button>
    </div>
  </div>
</section>

<agenda id="agenda"></agenda>
<liturgias id="liturgias"></liturgias>
<cronicas id="cronicas"></cronicas>

<section class="barra-opciones-grupo">
  <div class="row">
    <div class="col-sm-6 btn-right">
      <button type="button" class="btn btn-default btn-lg" [routerLink]="['/foros']">
        <span *ngIf="idioma=='español'">Foros</span>
        <span *ngIf="idioma=='english'">Forums</span>
        <span *ngIf="idioma=='italiano'">Forum</span>
      </button>
    </div>
    <div class="col-sm-6 btn-left">
      <button type="button" class="btn btn-default btn-lg" routerLinkActive="active" [routerLink]="['/votaciones']">
        <span *ngIf="idioma=='español'">Votaciones</span>
        <span *ngIf="idioma=='english'">Votes</span>
        <span *ngIf="idioma=='italiano'">Feedback</span>
      </button>
    </div>
  </div>
</section>

<biblioteca id="articulos"></biblioteca>
<proyectos id="proyectos"></proyectos>

<section class="barra-opciones-grupo" style="height: 50px;">
  <div class="row">
  </div>
</section>
