<h1 mat-dialog-title>Modificar actividad</h1>

<div mat-dialog-content class="example-container">

  <div class="row" style="margin-top:1em;">

    <div class="col-md-12">
      <mat-form-field>
        <mat-select placeholder="Tipo de actividad" required [(ngModel)]="info.actividad">
          <mat-option value="inicio">Bienvenida, presentación, inicio</mat-option>
          <mat-option value="estado">Estado de la congregación, compartiendo en configuraciones</mat-option>
          <mat-option value="identidad">Identidad pasionista, formación, Vida de comunidad y visión</mat-option>
          <mat-option value="solidaridad">Solidaridad y finanzas</mat-option>
          <mat-option value="comision">Comisión juridica</mat-option>
          <mat-option value="nuevos">Nuevos puntos, nuevas fronteras, trabajos laicos</mat-option>
          <mat-option value="liderazgo">Liderazgo,Elecciones</mat-option>
          <mat-option value="propuesta">Propuestas formuladas y votaciones</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="Español">
      <mat-form-field required>
        <input type="text" matInput [(ngModel)]="info.titulo" placeholder="Título de la actividad">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Descripción" [(ngModel)]="info.descripcion"></textarea>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Ingles">
      <mat-form-field required>
        <input type="text" matInput [(ngModel)]="info.tituloingles" placeholder="Título ingles">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Descripción ingles" [(ngModel)]="info.descripcioningles"></textarea>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Italiano">
      <mat-form-field required>
        <input type="text" matInput [(ngModel)]="info.tituloitaliano" placeholder="Título italiano">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Descripción italiano" [(ngModel)]="info.descripcionitaliano"></textarea>
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>


  <div class="row" style="margin-top:1em;">

    <div class="col-md-6">
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="info.dia" placeholder="Día de la actividad" required>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <input matInput [(ngModel)]="info.fecha" [matDatepicker]="picker" placeholder="Fecha actividad">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <label>Hora Inicio</label>
      <timepicker placeholder="Hora inicio" [(ngModel)]="info.horainicio" meridians="24H" [showMeridian]="false"></timepicker>
    </div>

    <div class="col-md-6">
      <label>Hora Fin</label>
      <timepicker placeholder="Hora inicio" [(ngModel)]="info.horafin" meridians="24H" [showMeridian]="false"></timepicker>
    </div>

  </div>




</div>

<div mat-dialog-actions align="end">
  <div fxFlex></div>
  <button mat-button class="btn-cancelar" (click)="cerrar()" cdkFocusInitial>Cancelar</button>
  <button mat-button class="btn-crear" (click)="guardar()" [disabled]="!info.titulo || !info.descripcion || !info.dia || !info.fecha || !info.horainicio || !info.horafin">Guardar actividad</button>
</div>
