<barra-navegacion></barra-navegacion>

<div class="contenedor">
  <div class="cabecera-seccion">
    <mat-toolbar class="opciones-cabecera">

      <span class="titulo-seccion">Documentos</span>
      <div class="button-row md-button-right">
        <button mat-button [matMenuTriggerFor]="menuCrear"  class="btn-crear">
          Crear documento
          <mat-icon class="example-icon">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuCrear="matMenu">
          <button mat-menu-item (click)="subir()">
             Subir archivo
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </div>
  <tabla-documentos></tabla-documentos>
</div>
