<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell (click)="ir(row)" *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dia">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Día</mat-header-cell>
      <mat-cell (click)="ir(row)" *matCellDef="let row">{{row.dia}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.fecha | date:'dd/MM/yyyy'}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="horainicio">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Hora inicio</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <input matInput [ngxTimepicker]="horainicio" [format]="24" [(ngModel)]="row.horainicio" readonly>
        <ngx-material-timepicker #horainicio></ngx-material-timepicker>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="horafin">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Hora fin</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <input matInput [ngxTimepicker]="horafin" [format]="24" [(ngModel)]="row.horafin" readonly>
        <ngx-material-timepicker #horafin></ngx-material-timepicker>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.titulo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actividad">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Actividad</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="row.actividad == 'inicio'">Bienvenida, presentación, inicio</span>
        <span *ngIf="row.actividad == 'estado'">Estado de la congregación, compartiendo en configuraciones</span>
        <span *ngIf="row.actividad == 'identidad'">Identidad pasionista, formación, Vida de comunidad y visión</span>
        <span *ngIf="row.actividad == 'solidaridad'">Solidaridad y finanzas</span>
        <span *ngIf="row.actividad == 'comision'">Comisión juridica</span>
        <span *ngIf="row.actividad == 'nuevos'">Nuevos puntos, nuevas fronteras, trabajos laicos</span>
        <span *ngIf="row.actividad == 'liderazgo'">Liderazgo, elecciones</span>
        <span *ngIf="row.actividad == 'propuesta'">Propuestas formuladas y votaciones</span>
      </mat-cell>

    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="opciones">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" class="pull-right-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="eliminar(row)">Eliminar</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="lista.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
