<barra-navegacion></barra-navegacion>
<div class="contenedor-image">
  <div class="overlay">
    <h1 *ngIf="idioma=='español'">Congregación de la Pasión de Jesucristo</h1>
    <h3 *ngIf="idioma=='español'">Predicamos a Cristo crucificado</h3>
    <h1 *ngIf="idioma=='english'">Congregation of the Passion of Jesus Christ</h1>
    <h3 *ngIf="idioma=='english'">We preach Christ crucified</h3>
    <h1 *ngIf="idioma=='italiano'">Congregazione della Passione di Gesù Cristo</h1>
    <h3 *ngIf="idioma=='italiano'">Predichiamo Cristo crocifisso</h3>
  </div>
</div>

<section class="actividades">

  <div class="row contenedor-mensaje">
    <div class="col-sm-12" style="margin-bottom: 2em;">
      <input class="form-control mb-4 mr-sm-2" type="search" [placeholder]="placeholderinput" [(ngModel)]="filter" name="filterespanol"  #inputFilterEsp>

      <ul class="opciones-actividades">
        <li class="active">
          <a *ngIf="idioma=='español'">Participantes</a>
          <a *ngIf="idioma=='english'">Participants</a>
          <a *ngIf="idioma=='italiano'">Partecipanti</a>
        </li>
        <li>
      </ul>


    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-2" *ngFor="let item of participantes | filter:filter">
          <div class="card articulo" style="width: 100%;">
            <div class="foto-participante" [ngStyle]="{'background-image': 'url(' + item.foto + ')'}" *ngIf="item.foto"></div>
            <div class="foto-participante" style="background-image: url('./../../../assets/no-foto.jpg')" *ngIf="!item.foto"></div>
            <div class="card-body">
              <h4 class="card-title titulo">{{item.nombre}}</h4>
              <h6 class="card-subtitle text-muted fecha">{{item.configuracion}} <span *ngIf="item.pais">/</span> {{item.pais}}</h6>
              <a href="mailto:{{item.correo}}">{{item.correo}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12" style="margin-bottom: 2em;">
      <ul class="opciones-actividades">
        <li class="active">
          <a>Staff</a>
        </li>
        <li>
      </ul>
    </div>

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-2" *ngFor="let item of staff | filter:filter">
          <div class="card articulo" style="width: 100%;">
            <div class="foto-participante" [ngStyle]="{'background-image': 'url(' + item.foto + ')'}" *ngIf="item.foto"></div>
            <div class="foto-participante" style="background-image: url('./../../../assets/no-foto.jpg')" *ngIf="!item.foto"></div>
            <div class="card-body">
              <h4 class="card-title titulo">{{item.nombre}}</h4>
              <h6 class="card-subtitle text-muted fecha">{{item.configuracion}} <span *ngIf="item.pais">/</span>
                {{item.pais}}</h6>
              <a href="mailto:{{item.correo}}">{{item.correo}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


