.contenedor-image {
    background-image: url('../../../assets/background-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 570px;
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-top: 114px;
    .overlay {
        padding-top: 350px;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 100;
        h1 {
            color: #fff;
            text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
            z-index: 999999;
        }
        h3 {
            color: #EE7835;
            text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
            z-index: 999999;
        }
    }
}
