<div class="contenedor-image">
  <div class="overlay">
      <h1 *ngIf="idioma=='español'">Congregación de la Pasión de Jesucristo</h1>
      <h3 *ngIf="idioma=='español'">Predicamos a Cristo crucificado</h3>
      <h1 *ngIf="idioma=='english'">Congregation of the Passion of Jesus Christ</h1>
      <h3 *ngIf="idioma=='english'">We preach Christ crucified</h3>
      <h1 *ngIf="idioma=='italiano'">Congregazione della Passione di Gesù Cristo</h1>
      <h3 *ngIf="idioma=='italiano'">Predichiamo Cristo crocifisso</h3>
  </div>
</div>
