<h1 mat-dialog-title>Modificar crónica</h1>

<div mat-dialog-content class="example-container">

  <div class="row">
    <div class="col-md-12">
      <div class="boton-agregar" *ngIf="!info.foto">
        <td-file-input [(ngModel)]="files" (select)="cargarImagen($event, 'imagen')" color="primary" accept="image/*" class="suputamadre">
          <mat-icon>add</mat-icon>
          <p>Foto de proyecto</p>
        </td-file-input>
      </div>


      <div class="col-md-3 preview-image" *ngIf="info.foto" [ngStyle]="{'background-image': 'url(' + info.foto + ')'}">
        <button mat-mini-fab color="warn" (click)="eliminarFoto()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="col-md-6">
      <mat-form-field required>
        <input type="text" matInput [(ngModel)]="info.titulo" placeholder="Título">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <mat-select placeholder="Idioma" required [(ngModel)]="info.idioma">
          <mat-option value="español">Español</mat-option>
          <mat-option value="ingles">Ingles</mat-option>
          <mat-option value="italiano">Italiano</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field>
        <textarea matInput placeholder="Resumen" [(ngModel)]="info.resumen"></textarea>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <div [froalaEditor] [(froalaModel)]="info.contenido"></div>
    </div>

  </div>


</div>

<div mat-dialog-actions align="end">
  <div fxFlex></div>
  <button mat-button class="btn-cancelar" (click)="cerrar()" cdkFocusInitial>Cancelar</button>
  <button mat-button class="btn-crear" (click)="guardar()" [disabled]="!info.titulo ||  !info.resumen || !info.idioma">Guardar crónica</button>
</div>
