<section class="actividades">

  <div class="row contenedor-mensaje">
    <div class="col-sm-12">
      <ul class="opciones-actividades">
        <li class="active">
          <a class="tappable" *ngIf="idioma=='español'">Proyecto </a>
          <a class="tappable" *ngIf="idioma=='english'">Project </a>
          <a class="tappable" *ngIf="idioma=='italiano'">Progetti </a>
        </li>
        <li>
      </ul>
      <!--<p class="introduccion" *ngIf="idioma=='español'">
        ESPAÑOL Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum mauris vitae felis imperdiet porttitor. Phasellus
        in erat iaculis, mollis dui a, auctor nisi. Suspendisse consequat elit in augue pretium, sit amet posuere sem ultrices.
        Suspendisse maximus aliquet feugiat. Nam fringilla nunc purus, et dapibus tellus elementum eu. In quis congue nisl,
        nec vulputate nunc.
      </p>

      <p class="introduccion" *ngIf="idioma=='english'">
        ENGLISH Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum mauris vitae felis imperdiet porttitor. Phasellus
        in erat iaculis, mollis dui a, auctor nisi. Suspendisse consequat elit in augue pretium, sit amet posuere sem ultrices.
        Suspendisse maximus aliquet feugiat. Nam fringilla nunc purus, et dapibus tellus elementum eu. In quis congue nisl,
        nec vulputate nunc.
      </p>

      <p class="introduccion" *ngIf="idioma=='italiano'">
        ITALIANO Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum mauris vitae felis imperdiet porttitor. Phasellus
        in erat iaculis, mollis dui a, auctor nisi. Suspendisse consequat elit in augue pretium, sit amet posuere sem ultrices.
        Suspendisse maximus aliquet feugiat. Nam fringilla nunc purus, et dapibus tellus elementum eu. In quis congue nisl,
        nec vulputate nunc.
      </p>-->


    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4" *ngFor="let item of proyectos | slice:0:3">
          <div class="card articulo" style="width: 100%;">
            <a href="#/proyecto-detalle/{{item.id}}" class="image-card" [ngStyle]="{'background-image': 'url(' + item.foto + ')'}"></a>
            <div class="card-body">
              <h5 class="card-title titulo">{{item.titulo}}</h5>
              <h6 class="card-subtitle mb-2 text-muted fecha">{{item.createdAt.toDate() | date: 'mediumDate'}}</h6>
              <p class="card-text">{{item.resumen | slice:0:100}} ...</p>
              <a class="link-ver" *ngIf="idioma=='español'" href="#/proyecto-detalle/{{item.id}}">Leer más</a>
              <a class="link-ver" *ngIf="idioma=='english'" href="#/proyecto-detalle/{{item.id}}">Read more</a>
              <a class="link-ver" *ngIf="idioma=='italiano'" href="#/proyecto-detalle/{{item.id}}">Leggi di più</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="col-md-12" style="margin-top:2em;">
      <a class="btn btn-danger btn-lg btn-ver" href="#/proyectos">
        <span *ngIf="idioma=='español'">Ver más</span>
        <span *ngIf="idioma=='english'">See more</span>
        <span *ngIf="idioma=='italiano'">Vedi di più</span>
      </a>
    </div>


  </div>

</section>
