.opciones-actividades {
    padding: 0;
    list-style: none;
    display: inline-flex;
    li {
        margin: 0 0 0;
        font-size: 3em;
        a {
            color: #EE7835 !important;
        }
        a:hover {
            text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
            text-decoration: none !important;
        }
        border-bottom: 4px solid #9F2820;
    }
}

.image-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    height: 250px;
    width: 100%;
    cursor: pointer;
}

.image-card:hover {
    opacity: .8;
}

.card-body {
    min-height: 210px;
}

.card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
}

p.introduccion {
    color: #565857;
    font-family: "Roboto";
    text-align: justify;
}

.actividades {
    padding: 2em 4em !important;
    background-color: #fff;
}

.card.liturgias {
    width: 100%;
    height: 200px;
    background-image: url('../../../assets/mock-background-liturgia.png');
    background-size: cover;
    border: 0;
    margin-bottom: 1em;
    cursor: pointer;
}

.col-sm-6.card-liturgia {
    padding-right: 0;
    margin-right: 0;
    position: relative;
    .card-title {
        position: absolute;
        bottom: 0;
        top: initial;
        left: 0;
        padding: 10px;
        background: rgba(159, 40, 32, 0.8);
        right: 0;
        margin: 0;
        color: #fff;
        font-weight: 100;
        text-align: center;
        transition: 3s;
        animation: decrecer 1s;
    }
}

.card-liturgia:hover {
    .card-title {
        top: 0;
        animation: crecer .5s;
    }
}

.contenedor-documento {
    height: 100%;
    background-color: #9F2820;
    ;
}

@keyframes crecer {
    from {
        top: 100px;
    }
    to {
        top: 0;
    }
}

@keyframes decrecer {
    from {
        top: 0;
    }
    to {
        top: 78%;
    }
}

.btn-ver {
    padding-right: 2em;
    padding-left: 2em;
    background-color: #9F2820 important;
}

.titulo {
    font-size: 22px !important;
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
}

.fecha {
    font-size: 14px !important;
    color: rgba(0, 0, 0, .5);
    font-weight: 100;
}

.link-ver {
    cursor: pointer;
    width: 100%;
    float: right;
    text-align: right;
    color: rgba(0, 0, 0, 1);
}

.link-ver:hover {
    color: #9F2820 !important;
}

.link-ver::before {
    content: "";
    display: inline-block;
    height: 0.8em;
    vertical-align: bottom;
    width: 75%;
    margin-left: -100%;
    margin-right: 10px;
    border-top: 1px solid rgba(0, 0, 0, .5);
}

.articulo {
    img {
        cursor: pointer;
    }
}

.articulo {
    img:hover {
        opacity: .8;
    }
}

@media screen and (max-width: 992px) {
    .col-md-4 {
        width: 50% !important;
        max-width: 50% !important;
        flex: 0 0 50%;
    }
}
