.avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 1em !important;
}

.card-title {
    padding-left: 1.25rem;
    display: inline-flex;
    span {
      margin-left: 1em;
      font-size: 12px;
      color: rgba(0, 0, 0, .5);
    }
}

.avatar-user {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedor-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    height: 400px;
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-top: 114px;
    background-attachment: fixed;
    .overlay {
        padding-top: 150px;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 100;
        h1 {
            color: #fff;
            text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
            z-index: 999999;
        }
        h3 {
            color: #EE7835;
            text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
            z-index: 999999;
        }
    }
}

.opciones-actividades {
    padding: 0;
    list-style: none;
    display: inline-flex;
    li {
        margin: 0 0 0;
        a {
            font-size: 3em;
            color: #EE7835 !important;
            cursor: initial;
        }
        border-bottom: 4px solid #9F2820;
    }
}

p.introduccion {
    color: #565857;
    font-family: "Roboto";
    text-align: justify;
}

.actividades {
    padding: 2em 4em !important;
    background-color: #fff;
}

.card.liturgias {
    width: 100%;
    height: 200px;
    background-image: url('../../../assets/mock-background-liturgia.png');
    background-size: cover;
    border: 0;
    margin-bottom: 1em;
    cursor: pointer;
}

.col-sm-6.card-liturgia {
    padding-right: 0;
    margin-right: 0;
    position: relative;
    .card-title {
        position: absolute;
        bottom: 0;
        top: initial;
        left: 0;
        padding: 10px;
        background: rgba(159, 40, 32, 0.8);
        right: 0;
        margin: 0;
        color: #fff;
        font-weight: 100;
        text-align: center;
        transition: 3s;
        animation: decrecer 1s;
    }
}

.card-liturgia:hover {
    .card-title {
        top: 0;
        animation: crecer .5s;
    }
}

.contenedor-documento {
    height: 100%;
    background-color: #9F2820;
    ;
}

@keyframes crecer {
    from {
        top: 100px;
    }
    to {
        top: 0;
    }
}

@keyframes decrecer {
    from {
        top: 0;
    }
    to {
        top: 78%;
    }
}

.btn-ver {
    padding-right: 2em;
    padding-left: 2em;
}

.titulo {
    font-size: 22px !important;
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
}

.fecha {
    font-size: 14px !important;
    color: rgba(0, 0, 0, .5);
    font-weight: 100;
}

.link-ver {
    cursor: pointer;
    width: 100%;
    float: right;
    text-align: right;
    color: rgba(0, 0, 0, 1);
}

.link-ver:hover {
    color: #9F2820 !important;
}

.link-ver::before {
    content: "";
    display: inline-block;
    height: 0.8em;
    vertical-align: bottom;
    width: 75%;
    margin-left: -100%;
    margin-right: 10px;
    border-top: 1px solid rgba(0, 0, 0, .5);
}

.articulo {
    img {
        cursor: pointer;
    }
}

.articulo {
    img:hover {
        opacity: .8;
    }
}

.foto-participante {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.foto-participante:hover {
    opacity: .8;
}

.image-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    height: 250px;
    width: 100%;
    cursor: pointer;
}

.image-card:hover {
    opacity: .8;
}

p.introduccion {
    color: #565857;
    font-family: "Roboto";
    text-align: justify;
}

.actividades {
    padding: 2em 4em !important;
    background-color: #fff;
}

.card.liturgias {
    width: 100%;
    height: 200px;
    background-image: url('../../../assets/mock-background-liturgia.png');
    background-size: cover;
    border: 0;
    margin-bottom: 1em;
    cursor: pointer;
}

.col-sm-6.card-liturgia {
    padding-right: 0;
    margin-right: 0;
    position: relative;
    .card-title {
        position: absolute;
        bottom: 0;
        top: initial;
        left: 0;
        padding: 10px;
        background: rgba(159, 40, 32, 0.8);
        right: 0;
        margin: 0;
        color: #fff;
        font-weight: 100;
        text-align: center;
        transition: 3s;
        animation: decrecer 1s;
    }
}

.card-liturgia:hover {
    .card-title {
        top: 0;
        animation: crecer .5s;
    }
}

.contenedor-documento {
    height: 100%;
    background-color: #9F2820;
    ;
}

@keyframes crecer {
    from {
        top: 100px;
    }
    to {
        top: 0;
    }
}

@keyframes decrecer {
    from {
        top: 0;
    }
    to {
        top: 78%;
    }
}

.btn-ver {
    padding-right: 2em;
    padding-left: 2em;
}

.titulo {
    font-size: 22px !important;
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
}

.fecha {
    font-size: 14px !important;
    color: rgba(0, 0, 0, .5);
    font-weight: 100;
}

.link-ver {
    cursor: pointer;
    width: 100%;
    float: right;
    text-align: right;
    color: rgba(0, 0, 0, 1);
}

.link-ver:hover {
    color: #9F2820 !important;
}

.link-ver::before {
    content: "";
    display: inline-block;
    height: 0.8em;
    vertical-align: bottom;
    width: 75%;
    margin-left: -100%;
    margin-right: 10px;
    border-top: 1px solid rgba(0, 0, 0, .5);
}

.articulo {
    img {
        cursor: pointer;
    }
}

.articulo {
    img:hover {
        opacity: .8;
    }
}

.card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
}

.main-section {
    margin: 0 auto;
    top: -5em;
    background-color: #fff;
    border-radius: 5px;
    padding: 0px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
}

.modal-content {
    padding: 2em;
}

.user-img {
    margin-top: -50px;
    display: inline-flex;
    justify-content: center;
}

.user-img img {
    height: 100px;
    width: 100px;
    background-color: #fff;
    padding: 1em;
    border-radius: 100px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
}

.user-name {
    margin: 10px 0px;
}

.user-name h1 {
    font-size: 20px;
    color: #676363;
    padding-top: 1em;
}

.user-name button {
    position: absolute;
    top: -50px;
    right: 20px;
    font-size: 30px;
}

.form-input button {
    width: 100%;
    margin-bottom: 20px;
}

.link-part {
    border-radius: 0px 0px 5px 5px;
    background-color: #ECF0F1;
    padding: 15px;
    border-top: 1px solid #c2c2c2;
}

.open-modal {
    margin-top: 100px !important;
}

.backdrop {
    opacity: 1 !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../../../assets/background-banner.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .3;
    background-color: #000;
}
