<barra-navegacion></barra-navegacion>
<div class="contenedor-image" [ngStyle]="{'background-image': 'url(' + foro.foto + ')'}">
</div>
<div class="col-lg-10 col-sm-10 col-12 main-section">
  <div class="modal-content">
    <ul class="opciones-actividades" style="margin-bottom: 2em;">
      <li class="active">
        <a class="tappable">{{foro.titulo}} </a>
      </li>
      <li>
    </ul>
    <p>
      <span class="badge badge-pill badge-danger" *ngIf="idioma=='español'">
        {{foro.idioma|uppercase}}
      </span>
      <span class="badge badge-pill badge-primary" *ngIf="idioma=='english'">
        {{foro.idioma|uppercase}}
      </span>
      <span class="badge badge-pill badge-success" *ngIf="idioma=='italiano'">
        {{foro.idioma|uppercase}}
      </span>
      |
      <span>{{foro.hilos}}
        <fa [name]="'comment'" style="color: rgba(0,0,0,.3)"></fa>
      </span>
      |
      <span *ngIf="idioma=='español'">{{foro.createdAt | date:'mediumDate'}}</span>
      <span *ngIf="idioma=='english'">{{foro.createdAt | date:'mediumDate'}}</span>
      <span *ngIf="idioma=='italiano'">{{foro.createdAt | date:'mediumDate'}}</span>
    </p>

    <p [innerHTML]="foro.contenido"></p>

    <div class="input-group" style="margin-bottom: 1em;">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <div class="avatar" [ngStyle]="{'background-image': 'url(' + user.foto + ')'}"></div>
        </span>
      </div>
      <textarea class="form-control" [(ngModel)]="mensaje" placeholder="Escribe tu comentario"></textarea>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="enviar()" [disabled]="!mensaje">Enviar</button>
      </div>
    </div>

    <ngb-alert type="success" *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">Tú mensaje fue enviado exitosamente!</ngb-alert>


    <div class="card" *ngFor="let item of hilos" style="margin-bottom: 10px;">

      <div class="card-body" style="padding-bottom: 10px;">
        {{item.mensaje}}
      </div>
      <div class="card-title">
        <div class="avatar-user" [ngStyle]="{'background-image': 'url(' + item.usuario.foto + ')'}"></div>
        <span>{{item.usuario.nombre}} | {{item.createdAt|date:'medium'}}</span>
      </div>
    </div>

    <div class="col-lg-12 col-sm-12 col-12">
    </div>


  </div>
</div>


<ngx-spinner *ngIf="idioma=='español'" bdColor="rgba(159,40,32,1)" size="default" color="#ffffff" type="ball-fussion" loadingText="Un momento por favor"></ngx-spinner>
<ngx-spinner *ngIf="idioma=='english'" bdColor="rgba(159,40,32,1)" size="default" color="#ffffff" type="ball-fussion" loadingText="One moment, please"></ngx-spinner>
<ngx-spinner *ngIf="idioma=='italiano'" bdColor="rgba(159,40,32,1)" size="default" color="#ffffff" type="ball-fussion" loadingText="Un momento, per favore"></ngx-spinner>
