<barra-navegacion></barra-navegacion>
<div class="contenedor">
  <div class="cabecera-seccion">
    <mat-toolbar class="opciones-cabecera">

      <button mat-button (click)="atras(0)" class="btn-ruta">Documentos</button>

      <span *ngFor="let item of rutas">
        <mat-icon class="arrow_right" *ngIf="padre != 0">></mat-icon>
        <button mat-button (click)="atras(item.id)" *ngIf="padre != 0" class="btn-ruta">{{item.nombre}}</button>
      </span>

    </mat-toolbar>

    <mat-toolbar class="opciones-cabecera">

      <span style="font-weight: 100;margin-left: 15px;background: #2e3f4f;padding: 2px 10px !important;border-radius: 5px;color:#fff;" *ngIf="padre != 0">
        <strong style="font-weight: 100; font-size: .8em;">ID Carpeta:</strong>
        <span style="font-weight: 100; font-size: .8em; margin-left: 10px;">{{padre}}</span>
      </span>

      <div class="button-row md-button-right">


        <button mat-button class="btn-modificar" (click)="ir()" *ngIf="padre != 0">
          Modificar
        </button>

        <button mat-button class="btn-crear" (click)="crear()">
          Crear carpeta
        </button>

        <button mat-button class="btn-crear documento" [matMenuTriggerFor]="menuCrear" *ngIf="padre != 0">
          Cargar documento
        </button>

        <mat-menu #menuCrear="matMenu">
          <button mat-menu-item (click)="subir()">
            Subir archivo
          </button>
        </mat-menu>

        <button mat-button class="btn-eliminar" (click)="eliminar()" *ngIf="padre != 0">
          Eliminar
        </button>
      </div>
    </mat-toolbar>

  </div>

  <p class="titulo" *ngIf="lista.length > 0">Carpetas</p>
  <div class="contenedor-carpetas" *ngIf="lista.length > 0">
    <mat-card *ngFor="let item of lista" (click)="irSubCarpeta(item)">
      {{item.nombre}}
    </mat-card>
  </div>

  <p class="titulo" *ngIf=" documentos.length > 0">Documentos</p>

  <div class="mat-elevation-z8 contenedor-documentos" *ngIf="documentos.length > 0">
    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre documento</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.nombre}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="idioma">
        <mat-header-cell *matHeaderCellDef mat-sort-header>idioma</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.idioma}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de subida</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.createdAt | date: 'dd/MM/yyyy'}}</mat-cell>
      </ng-container>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="opciones">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row" class="pull-right-menu">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>&#5010;</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item [href]="row.url" target="blank">Ver documento</a>
            <button mat-menu-item (click)="irDocumento(row)">Modificar</button>
            <button mat-menu-item (click)="eliminarDocumento(row)">Eliminar</button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="lista.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </div>
</div>
