* {
    font-family: "Roboto";
}

.mat-card {
    margin: .2em .5em .2em 0;
    background: #fff;
    color: rgb(46, 63, 79);
    border: 1px solid rgba(46, 63, 79, 0.1);
    text-shadow: 1px 0px #636161;
    font-weight: 300;
    cursor: pointer;
    padding: 1em;
}

.mat-card:hover {
    background: rgba(46, 63, 79, 0.09);
}

.carpetas {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1em;
    background: #fff;
}

.contenedor-carpetas {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1em;
    background: #fff;
    padding: 1em;
}

p.titulo {
    width: 100%;
    color: rgba(46, 63, 79, 0.68);
    padding-left: 1em;
}

.atras-btn {
    cursor: pointer;
}

.atras-btn:hover {
    text-decoration: underline;
}

.contenedor-documentos{
  margin: 2em 0em 0em 1em;
}
