* {
    font-family: "Arimo";
}

.btn-danger {
    background-color: #9F2820 !important;
    color: #fff !important;
    font-weight: 100 !important;
    border: none !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.btn-success {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.btn-danger:hover {
    opacity: .8;
}



.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #fff !important;
    background-color: #9F2820 !important;
    border: 0 !important;
    border-radius: 0 !important;
    border: 1px solid rgba(0, 0, 0, .1) !important;
}

.nav-tabs .nav-link {
    color: #9F2820 !important;
    background-color: #fff !important;
    border-radius: 0 !important;
    border: 1px solid rgba(0, 0, 0, .1) !important;
}

.nav-tabs>li {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transform-origin: center center;
    list-style-type: none;
}

.nav-tabs>li>a {
    display: block;
    padding: 2em 1em;
}

.tab-content {
    height: 600px;
    border: 0;
    overflow-y: scroll;
    margin-left: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 8px #dedede;
    background-color: #9F2820;
}

.tablist {
    border: 0;
}

.tab-pane {
    padding: 2em;
    border: 0;
    margin: 1px;
    height: 100%;
}

.tappable {
    cursor: pointer;
}

.card.contenedor {
    width: 33%;
    .card-body {
        overflow-y: scroll;
    }
}

.card.actividad {
    width: 100%;
    margin-bottom: 1em !important;
    cursor: pointer;
    .card-body {
        .card-title {
            color: #9F2820;
        }
    }
}

.card.actividad:hover {
    box-shadow: 0 4px 8px #dedede;
}

.modal-lg {
    max-width: 90% !important;
    position: absolute;
}

.modal-dialog {
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
}

.modal-content {
    height: auto;
    min-height: 95%;
    border-radius: 0;
}

.dark-modal .modal-content {
    background-color: transparent;
    border: none;
}

.dark-modal .close {
    color: white;
}

a[href="https://froala.com/wysiwyg-editor"],
a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
    display: none !important;
    position: absolute;
    top: -99999999px;
}
