<barra-navegacion></barra-navegacion>

<div class="contenedor">
  <div class="cabecera-seccion">
    <mat-toolbar class="opciones-cabecera">

      <span class="titulo-seccion">Asistentes</span>
      <div class="button-row md-button-right">
        <button mat-button class="btn-crear" matTooltip="Crear nuevo registro" mat-raised-button (click)="crear()">
          <mat-icon matListIcon class="small">add</mat-icon>
          Crear asistente
        </button>
      </div>
    </mat-toolbar>
  </div>
  <tabla-asistentes></tabla-asistentes>
</div>

