.example-container {
    display: flow-root;
    flex-direction: column;
    column-count: 1;
}

.example-container>* {
    width: 100%;
}

.label-asistente {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
    border-bottom: 1px solid rgba(0, 0, 0, .6) !important;
    width: 99% !important;
}

table.lista {
    th {
        text-align: left !important;
        padding: 10px 10px;
        border: 1px solid rgba(0, 0, 0, .1);
        color: #fb7a5a;
        font-weight: 100;
        border-bottom: 3px solid;
    }
    td {
        padding: 10px;
        background: #dedbdb;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
}
