<h1 mat-dialog-title>Nuevo grupo</h1>

<div mat-dialog-content class="example-container" style="    display: flex;">


  <div class="row">

    <div class="col-md-6">
      <mat-form-field required>
        <input type="text" matInput [(ngModel)]="info.nombre" placeholder="Nombre">
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <input type="text" matInput [(ngModel)]="info.descripcion" placeholder="Descripción">
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <label class="label-asistente">Lista de asistentes</label>

      <div class="button-row md-button-right" style="top: 6em;">

      </div>

      <div class="mat-elevation-z8">
        <table style="width:100%" class="lista">
          <tr>
            <th>EMAIL</th>
            <th>NOMBRE</th>
            <th style=" text-align: center; width: 100px;">
                <button mat-button class="btn-crear" (click)="agregar()">
                  Agregar
                </button>
            </th>
          </tr>
          <tr *ngIf="lista.length == 0">
            <td>No existen asistentes en este grupo</td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let item of lista; let i = index;">
            <td>{{item.correo}}</td>
            <td>{{item.nombre}}</td>
            <td  style="width: 100px;">
              <button mat-button class="btn-crear" (click)="eliminar(i)">
                Remover
              </button>
            </td>
          </tr>
        </table>
      </div>

    </div>

  </div>

</div>

<div mat-dialog-actions align="end">
  <div fxFlex></div>
  <button mat-button class="btn-cancelar" (click)="cerrar()" cdkFocusInitial>Cancelar</button>
  <button mat-button class="btn-crear" (click)="guardar()" [disabled]="!info.nombre">Crear</button>
</div>
