<barra-navegacion></barra-navegacion>

<div class="contenedor">

<div class="cabecera-seccion">
  <mat-toolbar class="opciones-cabecera">

    <button mat-button  class="btn-ruta">Tareas</button>

    <div class="button-row md-button-right">
      <button mat-button class="btn-crear" (click)="crear()">
        <mat-icon matListIcon class="small">add</mat-icon>
        Crear tarea
      </button>
    </div>
  </mat-toolbar>
</div>

  <div class="row">
    <div class="col-md-3 red" >
      <div class="header">
        SIN INICIAR
      </div>
      <div class="tareas" droppable (onDrop)="onItemPendiente($event)" dnd-sortable-container [sortableData]="tareasPendientes">
        <mat-card draggable *ngFor="let item of tareasPendientes; let i = index" [dragData]="item" class="tarjeta" (click)="ir(item)">
          <mat-card-header>
            <mat-card-title class="titulo">{{item.titulo}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{item.notas}}
            </p>
          </mat-card-content>
          <mat-card-actions style="min-height: 40px;">
            <mat-icon class="btn-icon-position" (click)="upIndex(tareasPendientes,i)" *ngIf="i != 0">keyboard_arrow_up</mat-icon>
            <mat-icon class="btn-icon-position" (click)="downIndex(tareasPendientes,i)" *ngIf="i != tareasPendientes.length-1">keyboard_arrow_down</mat-icon>
            <mat-icon class="btn-icon-eliminar" (click)="eliminar(item)">delete</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-md-3 red">
      <div class="header">
        EN PROCESO
      </div>
      <div class="tareas" droppable (onDrop)="onItemProceso($event)">
        <mat-card draggable *ngFor="let item of tareasEnProceso; let i = index;" [dragData]="item" class="tarjeta" (click)="ir(item)">
          <mat-card-header>
            <mat-card-title class="titulo">{{item.titulo}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{item.notas}}
            </p>
          </mat-card-content>
          <mat-card-actions style="min-height: 40px;">
            <mat-icon class="btn-icon-position" (click)="upIndex(tareasEnProceso,i)" *ngIf="i != 0">keyboard_arrow_up</mat-icon>
            <mat-icon class="btn-icon-position" (click)="downIndex(tareasEnProceso,i)" *ngIf="i != tareasEnProceso.length-1">keyboard_arrow_down</mat-icon>
            <mat-icon class="btn-icon-eliminar" (click)="eliminar(i)">delete</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-md-3 red">
      <div class="header">
        EN REVISIÓN
      </div>
      <div class="tareas" droppable (onDrop)="onItemRevision($event)">
        <mat-card draggable *ngFor="let item of tareasEnRevision;let i = index;" [dragData]="item" class="tarjeta" (click)="ir(item)">
          <mat-card-header>
            <mat-card-title class="titulo">{{item.titulo}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{item.notas}}
            </p>
          </mat-card-content>
          <mat-card-actions style="min-height: 40px;">
            <mat-icon class="btn-icon-position" (click)="upIndex(tareasEnRevision,i)" *ngIf="i != 0">keyboard_arrow_up</mat-icon>
            <mat-icon class="btn-icon-position" (click)="downIndex(tareasEnRevision,i)" *ngIf="i != tareasEnRevision.length-1">keyboard_arrow_down</mat-icon>
            <mat-icon class="btn-icon-eliminar" (click)="eliminar(item)">delete</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-md-3 red">
      <div class="header">
        TERMINADO
      </div>
      <div class="tareas" droppable (onDrop)="onItemTerminado($event)">
        <mat-card draggable *ngFor="let item of tareasTerminadas;let i = index;" [dragData]="item" class="tarjeta" (click)="ir(item)">
          <mat-card-header>
            <mat-card-title class="titulo">{{item.titulo}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{item.notas}}
            </p>
          </mat-card-content>
          <mat-card-actions style="min-height: 40px;">
            <mat-icon class="btn-icon-position" (click)="upIndex(tareasTerminadas,i)" *ngIf="i != 0">keyboard_arrow_up</mat-icon>
            <mat-icon class="btn-icon-position" (click)="downIndex(tareasTerminadas,i)" *ngIf="i != tareasTerminadas.length-1">keyboard_arrow_down</mat-icon>
            <mat-icon class="btn-icon-eliminar" (click)="eliminar(item)" matTooltip="Eliminar tarea">delete</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!--<h4>Simple sortable handle</h4>
<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        Favorite drinks
      </div>
      <div class="panel-body">
        <ul class="list-group" dnd-sortable-container [sortableData]="listOne">
          <li *ngFor="let item of listOne; let i = index" class="list-group-item" [dragData]="item" dnd-sortable (onDragSuccess)="orderedProduct($event, i)"
            [sortableIndex]="i">
            <span dnd-sortable-handle>=</span>&nbsp; {{item}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        My prefences:
        <br/>
        <span *ngFor="let item of listOne; let i = index">{{i + 1}}) {{item}}
          <br/>
        </span>
      </div>
    </div>
  </div>
</div>-->
