.example-container {
    display: flow-root;
    flex-direction: column;
    column-count: 1;
}

.example-container>* {
    width: 100%;
}

.label-asistente {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
    border-bottom: 1px solid rgba(0, 0, 0, .6) !important;
    width: 99% !important;
}

.mat-column-selection {
    flex: 0 0 10%;
    text-align: left;
}
