<h1 mat-dialog-title>Agregar asistente a grupo</h1>

<div mat-dialog-content class="example-container" style="display: flex;">


  <div class="example-header">
    <mat-form-field>
      <mat-icon matSuffix class="tc-blue-900">search</mat-icon>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="selection">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="correo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>email</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.correo}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre asistente</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.nombre}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns">

      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
  </div>

</div>

<div mat-dialog-actions align="end">
  <div fxFlex></div>
  <button mat-button class="btn-cancelar" (click)="cerrar()" cdkFocusInitial>Cancelar</button>
  <button mat-button class="btn-crear" (click)="guardar()" [disabled]="this.selection.selected.length == 0">Agregar</button>
</div>
