<barra-navegacion></barra-navegacion>

<div class="contenedor">

  <div class="cabecera-seccion">
    <mat-toolbar class="opciones-cabecera">

      <button mat-button class="btn-ruta">Mensaje del Papa</button>
      <div class="button-row md-button-right">
        <button mat-button class="btn-crear" (click)="guardar()">
          Guardar
        </button>
      </div>

    </mat-toolbar>
  </div>

  <div class="row">
    <div class="col-md-12 red">
      <mat-tab-group>
        <mat-tab label="Español">
          <td-file-upload #singleFileUpload [(ngModel)]="file" (select)="uploadEvent($event)" (upload)="uploadEvent($event)"
            (cancel)="cancelEvent()" required *ngIf="!info.url">
            <mat-icon>file_upload</mat-icon>
            <span>{{ singleFileUpload.value?.name }}</span>
            <ng-template td-file-input-label>
              <mat-icon>attach_file</mat-icon>
              <span>
                Seleccione archivo
                <span [hidden]="!singleFileUpload?.required">*</span>
              </span>
            </ng-template>
          </td-file-upload>
          <div class="col-md-12 icon-pdf" *ngIf="info.url">
            <button mat-mini-fab color="warn" (click)="eliminarFile()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <br><br>
          <span style="color: #7a7a7a; margin-top: 2em;">Mensaje</span>
          <div style="margin-top: 1em;" [froalaEditor] [(froalaModel)]="info.contenido"></div>
        </mat-tab>
        <mat-tab label="Ingles">
          <td-file-upload #singleFileUploadIngles [(ngModel)]="fileingles" (select)="uploadEventIngles($event)"
            (upload)="uploadEventIngles($event)" (cancel)="cancelEvent()" required *ngIf="!info.urlingles">
            <mat-icon>file_upload</mat-icon>
            <span>{{ singleFileUploadIngles.value?.name }}</span>
            <ng-template td-file-input-label>
              <mat-icon>attach_file</mat-icon>
              <span>
                Seleccione archivo
                <span [hidden]="!singleFileUploadIngles?.required">*</span>
              </span>
            </ng-template>
          </td-file-upload>
          <div class="col-md-12 icon-pdf" *ngIf="info.urlingles">
            <button mat-mini-fab color="warn" (click)="eliminarFileIngles()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <br><br>
          <span style="color: #7a7a7a; margin-top: 2em;">Mensaje</span>
          <div style="margin-top: 1em;" [froalaEditor] [(froalaModel)]="info.contenidoenglish"></div>
        </mat-tab>
        <mat-tab label="Italiano">
          <td-file-upload #singleFileUploadItaliano [(ngModel)]="fileitaliano" (select)="uploadEventItaliano($event)"
            (upload)="uploadEventItaliano($event)" (cancel)="cancelEvent()" required *ngIf="!info.urlitaliano">
            <mat-icon>file_upload</mat-icon>
            <span>{{ singleFileUploadItaliano.value?.name }}</span>
            <ng-template td-file-input-label>
              <mat-icon>attach_file</mat-icon>
              <span>
                Seleccione archivo
                <span [hidden]="!singleFileUploadItaliano?.required">*</span>
              </span>
            </ng-template>
          </td-file-upload>
          <div class="col-md-12 icon-pdf" *ngIf="info.urlitaliano">
            <button mat-mini-fab color="warn" (click)="eliminarFileItaliano()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <br><br>
          <span style="color: #7a7a7a; margin-top: 2em;">Mensaje</span>
          <div style="margin-top: 1em;" [froalaEditor] [(froalaModel)]="info.contenidoitaliano"></div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
