.row {
    min-height: calc(90vh - 60px);
    padding: 0 1em;
    .col-md-3 {
        background: #f5f8fa;
        border: 1px solid #dfe3eb;
        padding: 0;
        .header {
            border-bottom: 1px solid #dfe3eb;
            padding: 16px 16px;
            font-size: 12px;
            hyphens: none;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Roboto";
        }
        .tareas {
            margin: 1em;
            min-height: calc(90vh - 120px);
            mat-card {
                margin-bottom: 1em;
            }
        }
    }
}

.titulo {
    margin: 0 !important;
    color: #0091ae;
    cursor: pointer;
}

.titulo:hover {
    font-weight: 500;
}

.icon-pdf {
    background-image: url(../../assets/icons/icon-file.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 3em;
    color: #fb7958 !important;
    border: 1px dashed !important;
    button {
        position: absolute;
        right: 1em;
    }
}
