/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

.contenedor {
    padding: 3em;
}

mat-cell {
    display: flow-root !important;
    padding-top: 5px !important;
}

.boton-agregar,
.boton-agregar:focus {
    color: #fff !important;
    width: 100% !important;
    border-radius: 5px !important;
    padding: 0 !important;
    margin: 0 0 2em 0 !important;
    p {
        margin: 0 !important;
        padding: 0 !important;
    }
    .mat-raised-button.mat-primary {
        background: #fff !important;
        color: #fb7958 !important;
        border: 1px dashed !important;
        box-shadow: none !important;
        height: 150px !important;
    }
}

.preview-image:hover {
    button {
        opacity: 1;
    }
    position: relative;
}

.preview-image {
    background-size: contain;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #dedede;
    border-radius: 5px;
    margin: 0;
    box-shadow: 0 4px 8px #dedede;
    cursor: pointer;
    position: relative;
    margin-bottom: 2em;
    button {
        position: absolute;
        right: 5px;
        bottom: 5px;
        opacity: 0;
        background: #fb7958 !important;
    }
}

.label-active,
.label-inactive,
.success,
.error,
.disable,
.warm {
    display: inline-flex !important;
    justify-content: center !important;
}

.mat-raised-button {
    margin: auto 3px !important;
}

button.mat-menu-item {
    border-bottom: 2px solid #dad4d4 !important;
}

button.mat-menu-item:last-child {
    border-bottom: none !important;
}

.modal .modal-footer .btn-flat {
    margin: 6px 3px !important;
}

mz-modal.small .modal {
    text-align: initial !important;
}

mz-modal.small .modal .modal-footer {
    text-align: right !important;
}

button:focus {
    outline: none;
    background-color: transparent !important;
}

mat-toolbar>mat-icon {
    margin-right: 1em !important;
}

input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type=text]:not(.browser-default):disabled,
input[type=text]:not(.browser-default)[readonly="readonly"],
input[type=password]:not(.browser-default):disabled,
input[type=password]:not(.browser-default)[readonly="readonly"],
input[type=email]:not(.browser-default):disabled,
input[type=email]:not(.browser-default)[readonly="readonly"],
input[type=url]:not(.browser-default):disabled,
input[type=url]:not(.browser-default)[readonly="readonly"],
input[type=time]:not(.browser-default):disabled,
input[type=time]:not(.browser-default)[readonly="readonly"],
input[type=date]:not(.browser-default):disabled,
input[type=date]:not(.browser-default)[readonly="readonly"],
input[type=datetime]:not(.browser-default):disabled,
input[type=datetime]:not(.browser-default)[readonly="readonly"],
input[type=datetime-local]:not(.browser-default):disabled,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
input[type=tel]:not(.browser-default):disabled,
input[type=tel]:not(.browser-default)[readonly="readonly"],
input[type=number]:not(.browser-default):disabled,
input[type=number]:not(.browser-default)[readonly="readonly"],
input[type=search]:not(.browser-default):disabled,
input[type=search]:not(.browser-default)[readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"],
.mat-select-disabled .mat-select-value {
    color: #000 !important;
}

.label-active {
    background: green;
    color: white;
    padding: .5em;
    border-radius: 3px;
    min-width: 35px !important;
}

.label-inactive {
    background: red;
    color: white;
    padding: .5em;
    border-radius: 3px;
    min-width: 35px !important;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    margin: initial !important;
    height: initial !important;
    background-color: initial !important;
    border: initial !important;
    border-bottom: initial !important;
    border-radius: initial !important;
    outline: initial !important;
    height: initial !important;
    width: initial !important;
    font-size: initial !important;
    margin: initial !important;
    padding: initial !important;
    -webkit-box-shadow: initial !important;
    box-shadow: initial !important;
    -webkit-box-sizing: initial !important;
    box-sizing: initial !important;
    -webkit-transition: initial !important;
    transition: initial !important;
    width: 100% !important;
}

.margin-card {
    margin: 8px !important;
}

.collection.with-header .collection-header {
    background-color: #215d78 !important;
    color: #fff !important;
    padding-left: 2em !important;
}

.button-right-div {
    right: 1em !important;
    position: absolute !important;
    top: 2em !important;
}

button:focus {
    outline: initial;
    background-color: transparent !important;
}

.modal-overlay {
    display: none !important;
}

.modal {
    top: 25% !important;
}

mz-modal.small {
    .modal {
        width: 400px !important;
        max-width: 400px !important;
        text-align: center;
        .modal-footer {
            border-top: 1px solid #dedede;
            text-align: center;
        }
    }
}

mz-modal.step-servicio {
    .modal {
        top: 20% !important;
    }
}

/* Otros css */

$icon-small-container-size: 32px;
$icon-small-size: 16px;
.float {
    position: absolute !important;
    .right {
        right: 2em !important;
    }
    .bottom {
        bottom: 2em !important;
    }
}

.mat-form-field-infix {
    padding: 4px 0 !important;
    font-weight: 100 !important;
}

.mat-raised-button {
    font-weight: 100 !important;
}

.md-button-right {
    position: absolute;
    right: 2em;
    margin: 0;
}

md-input-container.md-button-right>md-icon+input,
md-input-container.md-button-right>md-icon+textarea {
    margin-right: 100px;
}

.light {
    font-weight: 100 !important;
}

.padding-right-1em {
    padding-right: 1em !important;
}

body .push-md {
    margin: 0px !important;
}

.mat-icon-button.circle {
    border-radius: 100%;
    border: 1px solid #fff;
    line-height: initial;
}

.navbar-title {
    padding-left: 1.5em;
    font-weight: 100;
}

.mat-icon.small {
    margin-right: .3em;
}

.mat-list-item.light {
    font-weight: 100;
    font-size: 14px;
}

span.light {
    font-weight: 400;
    font-size: 14px;
}

.mat-list-item.subitem {
    padding-left: 3.1em;
}

body .pad-sm {
    padding: 0 !important;
}

body .push-md {
    margin-left: 2px !important;
}

.mat-nav-list {
    padding-top: 0 !important;
}

.mat-drawer.mat-drawer-side {
    border: none !important;
    box-shadow: 1px 8px 12px #aba3a3 !important;
}

.mat-divider {
    border-top: 1px solid #dedede !important;
}

.mat-toolbar.mat-primary {
    border: none !important;
    margin-bottom: 1px;
    box-shadow: 0px 2px 5px #888888;
    z-index: 99999999;
}

a.active {
    border-left: 7px solid #e86435;
    padding-left: 37px !important;
}

.padding-3x {
    padding: 3em !important;
}

.mat-drawer-container {
    background: #f7f8fa !important;
}

.mat-form-field-wrapper {
    position: relative;
    margin-right: 1em;
}

.td-expansion-panel-header-content {
    height: 68px !important;
}

.redMessage {
    background-color: red;
    text-align: center;
}

.greenMessage {
    background-color: rgb(33, 143, 92);
    text-align: center;
}

.pull-right-menu {
    text-align: right;
}

.mat-simple-snackbar-action {
    color: #fbfbfb !important;
}

.hide-div {
    display: none !important;
}

body {
    margin: 0;
}

.pull-right-menu {
    display: flex !important;
    align-content: flex-end !important;
    .mat-icon-button {
        display: flex;
        align-items: flex-end;
        align-self: flex-end;
        align-content: flex-end;
        position: relative;
        right: 0;
    }
}

.pull-right-menu.mat-cell {
    display: flex;
    justify-content: flex-end;
}

.pull-right-menu.mat-header-cell {
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
    padding-left: 24px;
}

.pull-right-menu.mat-header-cell:last-child {
    margin-right: 0;
}

.btn-crear,
.btn-crear:focus {
    background-color: #ff7a59 !important;
    color: #fff;
    margin: 2px !important;
    font-weight: 100;
}

.btn-crear.documento,
.btn-crear.documento:focus {
    background-color: #3b5366 !important;
    color: #fff;
}

.btn-eliminar,
.btn-eliminar:focus {
    background-color: #e03a3a !important;
    color: #fff;
}

.btn-modificar,
.btn-modificar:focus {
    background-color: #3a74e0 !important;
    color: #fff;
}

.mat-card>.mat-card-actions {
    padding: .5em !important;
    border-top: 1px solid rgba(0, 0, 0, .1) !important;
}

.btn .btn-cancelar,
.btn-cancelar:focus {
    background-color: #fff !important;
    color: #ff7a59 !important;
    border: 1px solid #ff7a59 !important;
}

.cabecera-seccion {
    border-bottom: 1px solid #2e3f50;
    margin-bottom: 2em;
    padding-bottom: 1em;
    padding-left: 0;
}

.opciones-cabecera {
    padding-left: 0 !important;
    background-color: #fff;
}

.titulo-seccion {
    font-weight: 100;
    font-size: 1.75rem;
    line-height: normal;
    text-shadow: 0 0 1px transparent;
}

.mat-dialog-title {
    font-weight: 100;
    border-bottom: 1px solid #2e3f50;
    padding-bottom: 1em;
}

.mat-dialog-actions {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #dedede;
}

mat-header-row {
    background: rgba(0, 77, 128, .0392157);
}

.mat-header-cell {
    color: #2e3f50;
}

.mat-sort-header-button {
    text-transform: uppercase;
}

.mat-cell,
.mat-footer-cell {
    display: inline-flex !important;
}

.mat-button[disabled][disabled] {
    color: rgba(0, 0, 0, 0.26);
    background: #d6d3d3;
}

.mat-raised-button.mat-accent,
.mat-raised-button.mat-primary {
    background-color: #ff7a59 !important;
}

.td-file-upload {
    width: 95% !important;
}

.mat-raised-button.mat-primary {
    width: 100% !important;
}

.td-loading {
    background: rgba(10, 0, 0, 0.4) !important;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #ff7a59;
}

.arrow_right {
    font-family: 'Raleway', sans-serif;
    margin: 0 !important;
    padding: 0;
    margin-left: 10px !important;
}

.btn-ruta {
    font-size: 1em;
    font-weight: 100;
}

.swal2-popup .swal2-title {
    font-family: "Roboto" !important;
    font-weight: 100 !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: #3085d6 !important;
    color: #fff;
}

.swal2-popup .swal2-styled.swal2-cancel {
    background-color: #aaa !important;
}

.mat-card-header-text {
    margin: 1em 0 !important;
    margin-top: 0 !important;
}

.tarjeta {
    cursor: pointer;
    .btn-icon-eliminar {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #db8181;
    }
    .btn-icon-eliminar:hover {
        color: #df0909;
    }
    .btn-icon-position {
        position: relative;
        bottom: -10px;
        color: #5274e4;
    }
    .btn-icon-position:hover {
        color: #08277a;
    }
}

.tarjeta:hover {
    .btn-icon-eliminar {
        transition: 1s;
        display: initial;
    }
}

.mat-form-field {
    width: 100% !important;
}

.mat-tab-body-wrapper {
    padding-top: 1.5em;
}

a[href="https://froala.com/wysiwyg-editor"],
a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
    display: none !important;
    position: absolute;
    top: -99999999px;
}
