<barra-navegacion></barra-navegacion>

<div class="contenedor">

  <div class="cabecera-seccion">
    <mat-toolbar class="opciones-cabecera">

      <button mat-button class="btn-ruta">Crónicas</button>

      <div class="button-row md-button-right">
        <button mat-button class="btn-crear" (click)="crear()">
          <mat-icon matListIcon class="small">add</mat-icon>
          Crear crónica
        </button>
      </div>

    </mat-toolbar>
  </div>

  <tabla-cronicas></tabla-cronicas>

</div>
