<barra-navegacion></barra-navegacion>
<div class="contenedor-image">
  <div class="overlay">
    <h1 *ngIf="idioma=='español'">Congregación de la Pasión de Jesucristo</h1>
    <h3 *ngIf="idioma=='español'">Predicamos a Cristo crucificado</h3>
    <h1 *ngIf="idioma=='english'">Congregation of the Passion of Jesus Christ</h1>
    <h3 *ngIf="idioma=='english'">We preach Christ crucified</h3>
    <h1 *ngIf="idioma=='italiano'">Congregazione della Passione di Gesù Cristo</h1>
    <h3 *ngIf="idioma=='italiano'">Predichiamo Cristo crocifisso</h3>
  </div>
</div>

<section class="actividades">

  <div class="row contenedor-mensaje">
    <div class="col-sm-12" style="margin-bottom: 2em;">
      <ul class="opciones-actividades">
        <li class="active">
          <a class="tappable" *ngIf="idioma=='español'">Cronicas </a>
          <a class="tappable" *ngIf="idioma=='english'">Chronicles </a>
          <a class="tappable" *ngIf="idioma=='italiano'">Cronache </a>
        </li>
        <li>
      </ul>

      <!--<p class="introduccion" *ngIf="idioma=='español'">
        ESPAÑOL Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum mauris vitae felis imperdiet porttitor.
        Phasellus in erat iaculis, mollis dui a, auctor nisi. Suspendisse consequat elit in augue pretium, sit amet posuere
        sem ultrices. Suspendisse maximus aliquet feugiat. Nam fringilla nunc purus, et dapibus tellus elementum eu. In quis
        congue nisl, nec vulputate nunc.
      </p>

      <p class="introduccion" *ngIf="idioma=='english'">
        ENGLISH Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum mauris vitae felis imperdiet porttitor.
        Phasellus in erat iaculis, mollis dui a, auctor nisi. Suspendisse consequat elit in augue pretium, sit amet posuere
        sem ultrices. Suspendisse maximus aliquet feugiat. Nam fringilla nunc purus, et dapibus tellus elementum eu. In quis
        congue nisl, nec vulputate nunc.
      </p>

      <p class="introduccion" *ngIf="idioma=='italiano'">
        ITALIANO Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum mauris vitae felis imperdiet porttitor.
        Phasellus in erat iaculis, mollis dui a, auctor nisi. Suspendisse consequat elit in augue pretium, sit amet posuere
        sem ultrices. Suspendisse maximus aliquet feugiat. Nam fringilla nunc purus, et dapibus tellus elementum eu. In quis
        congue nisl, nec vulputate nunc.
      </p>-->

      <input class="form-control mr-sm-2" type="search" [placeholder]="placeholderinput" [(ngModel)]="filter" name="filterespanol"
        #inputFilterEsp>

    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4" *ngFor="let item of cronicas | filter:filter">
          <div class="card articulo" style="width: 100%;">
            <a class="image-card" href="#/cronica-detalle/{{item.id}}" [ngStyle]="{'background-image': 'url(' + item.foto + ')'}"></a>
            <div class="card-body">
              <h5 class="card-title titulo">{{item.titulo}}</h5>
              <h6 class="card-subtitle mb-2 text-muted fecha">{{item.createdAt.toDate() | date: 'mediumDate'}}</h6>
              <p class="card-text">{{item.resumen | slice:0:100}} ...</p>
              <a class="link-ver" *ngIf="idioma=='español'" href="#/cronica-detalle/{{item.id}}">Leer más</a>
              <a class="link-ver" *ngIf="idioma=='english'" href="#/cronica-detalle/{{item.id}}">Read more</a>
              <a class="link-ver" *ngIf="idioma=='italiano'" href="#/cronica-detalle/{{item.id}}">Leggi di più</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
