<barra-navegacion></barra-navegacion>
<div class="contenedor-image" [ngStyle]="{'background-image': 'url(' + cronica.foto + ')'}">
</div>
<div class="col-lg-10 col-sm-10 col-12 main-section">
  <div class="modal-content">
    <ul class="opciones-actividades" style="margin-bottom: 2em;">
      <li class="active">
        <a class="tappable">{{cronica.titulo}} </a>
      </li>
      <li>
    </ul>
    <p [innerHTML]="cronica.contenido">
    </p>
  </div>
</div>


<ngx-spinner *ngIf="idioma=='español'" bdColor="rgba(159,40,32,1)" size="default" color="#ffffff" type="ball-fussion" loadingText="Un momento por favor"></ngx-spinner>
<ngx-spinner *ngIf="idioma=='english'" bdColor="rgba(159,40,32,1)" size="default" color="#ffffff" type="ball-fussion" loadingText="One moment, please"></ngx-spinner>
<ngx-spinner *ngIf="idioma=='italiano'" bdColor="rgba(159,40,32,1)" size="default" color="#ffffff" type="ball-fussion" loadingText="Un momento, per favore"></ngx-spinner>
