<barra-navegacion></barra-navegacion>
<div class="contenedor-image">
  <div class="overlay">
    <h1 *ngIf="idioma=='español'">Congregación de la Pasión de Jesucristo</h1>
    <h3 *ngIf="idioma=='español'">Predicamos a Cristo crucificado</h3>
    <h1 *ngIf="idioma=='english'">Congregation of the Passion of Jesus Christ</h1>
    <h3 *ngIf="idioma=='english'">We preach Christ crucified</h3>
    <h1 *ngIf="idioma=='italiano'">Congregazione della Passione di Gesù Cristo</h1>
    <h3 *ngIf="idioma=='italiano'">Predichiamo Cristo crocifisso</h3>
  </div>
</div>

<section class="actividades">

  <div class="row contenedor-mensaje">
    <div class="col-sm-12" style="margin-bottom: 2em;">
      <input class="form-control mb-4 mr-sm-2" type="search" [placeholder]="placeholderinput" [(ngModel)]="filter" name="filterespanol"
        #inputFilterEsp>

      <ul class="opciones-actividades">
        <li class="active">
          <a *ngIf="idioma=='español'">Grupos</a>
          <a *ngIf="idioma=='english'">Groups</a>
          <a *ngIf="idioma=='italiano'">Gruppi</a>
        </li>
        <li>
      </ul>


    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3" *ngFor="let item of grupos | filter:filter">
          <div class="card articulo" style="width: 100%;" [routerLink]="['/groups/participants',item.id]">
            <div class="card-body">
              <h4 class="card-title titulo">{{item.nombre}}</h4>
              <h6 class="card-subtitle text-muted fecha">{{item.descripcion | slice:0:200}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
