.contenedor-image {
    background-image: url('../../../assets/background-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-top: 114px;
    .overlay {
        padding-top: 150px;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 100;
        h1 {
            color: #fff;
            text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
            z-index: 999999;
        }
        h3 {
            color: #EE7835;
            text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
            z-index: 999999;
        }
    }
}

.opciones-actividades {
    padding: 0;
    list-style: none;
    display: inline-flex;
    li {
        margin: 0 0 0;
        font-size: 3em;
        a {
            color: #EE7835 !important;
        }
        a:hover {
            text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
            text-decoration: none !important;
        }
        border-bottom: 4px solid #9F2820;
    }
}

p.introduccion {
    color: #565857;
    font-family: "Roboto";
    text-align: justify;
}

.actividades {
    padding: 2em 4em !important;
    background-color: #fff;
}

.card.articulo {
    width: 100%;
    height: 120px;
    background-image: url('../../../assets/mock-background-liturgia.png');
    background-size: cover;
    border: 0;
    margin-bottom: 1em;
    cursor: pointer;
    color: #fff !important;
    text-shadow: 0 4px 8px rgba(0, 0, 0, .5);

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    }
}

.col-sm-6.card-liturgia {
    padding-right: 0;
    margin-right: 0;
    position: relative;
    .card-title {
        position: absolute;
        bottom: 0;
        top: initial;
        left: 0;
        padding: 10px;
        background: rgba(159, 40, 32, 0.8);
        right: 0;
        margin: 0;
        color: #fff;
        font-weight: 100;
        text-align: center;
        transition: 3s;
        animation: decrecer 1s;
    }
}

.card-liturgia:hover {
    .card-title {
        top: 0;
        animation: crecer .5s;
    }
}

.contenedor-documento {
    height: 100%;
    background-color: #9F2820;
    ;
}

@keyframes crecer {
    from {
        top: 100px;
    }
    to {
        top: 0;
    }
}

@keyframes decrecer {
    from {
        top: 0;
    }
    to {
        top: 78%;
    }
}

.btn-ver {
    padding-right: 2em;
    padding-left: 2em;
}

.titulo {
    font-size: 22px !important;
    color: #fff;
    font-weight: 500;
}

.fecha {
    font-size: 14px !important;
    color: #fff !important;
    font-weight: 100;
}

.link-ver {
    cursor: pointer;
    width: 100%;
    float: right;
    text-align: right;
    color: rgba(0, 0, 0, 1);
}

.link-ver:hover {
    color: #9F2820 !important;
}

.link-ver::before {
    content: "";
    display: inline-block;
    height: 0.8em;
    vertical-align: bottom;
    width: 75%;
    margin-left: -100%;
    margin-right: 10px;
    border-top: 1px solid rgba(0, 0, 0, .5);
}

.articulo {
    img {
        cursor: pointer;
    }
}

.articulo {
    img:hover {
        opacity: .8;
    }
}

.foto-participante {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.foto-participante:hover {
    opacity: .8;
}

.card-body {
    height: 200px;
}

.card {
    margin-bottom: 1em;
}
