<barra-navegacion></barra-navegacion>

<div class="contenedor">
  <div class="cabecera-seccion">
    <mat-toolbar class="opciones-cabecera">

      <span class="titulo-seccion">Secciones de documentos</span>
    </mat-toolbar>
  </div>


  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">


      <!-- Name Column -->
      <ng-container matColumnDef="seccion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre sección</mat-header-cell>
        <mat-cell (click)="ir(row)" *matCellDef="let row">{{row.seccion}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="idcarpeta">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID Carpeta</mat-header-cell>
        <mat-cell (click)="ir(row)" *matCellDef="let row">{{row.idcarpeta}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="lista.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </div>

</div>
