<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</mat-header-cell>
      <mat-cell (click)="ir(row)" *matCellDef="let row">{{row.titulo}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="pregunta">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Pregunta</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.pregunta}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="si">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Total Si</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.si}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Total No</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.no}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="blanco">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Total blanco</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.blanco}}</mat-cell>
    </ng-container>



    <!-- Name Column -->
    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.estado}}</mat-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Creado el</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.createdAt | date: 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Modificado el</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.updatedAt | date: 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="opciones">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" class="pull-right-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="eliminar(row)">Eliminar</button>
          <button mat-menu-item (click)="cambiarEstado(row)">{{(row.estado=='Abierta')?'Finalizar':'Reactivar'}}</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="lista.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
