<barra-navegacion></barra-navegacion>
<div class="contenedor-image" [ngStyle]="{'background-image': 'url(' + proyecto.foto + ')'}">
</div>
<div class="col-lg-10 col-sm-10 col-12 main-section">
  <div class="modal-content">
    <ul class="opciones-actividades" style="margin-bottom: 2em;">
      <li class="active">
        <a class="tappable">{{proyecto.titulo}} </a>
      </li>
      <li>
    </ul>
    <p [innerHTML]="proyecto.contenido">
    </p>

    <iframe [src]='urlselect' style="height:80vh; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen>
    </iframe>

  </div>
</div>


<ngx-spinner *ngIf="idioma=='español'" bdColor="rgba(159,40,32,1)" size="default" color="#ffffff" type="ball-fussion" loadingText="Un momento por favor"></ngx-spinner>
<ngx-spinner *ngIf="idioma=='english'" bdColor="rgba(159,40,32,1)" size="default" color="#ffffff" type="ball-fussion" loadingText="One moment, please"></ngx-spinner>
<ngx-spinner *ngIf="idioma=='italiano'" bdColor="rgba(159,40,32,1)" size="default" color="#ffffff" type="ball-fussion" loadingText="Un momento, per favore"></ngx-spinner>
