<h1 mat-dialog-title>Nuevo documento</h1>

<div mat-dialog-content class="example-container">

    <div class="row">
      <div class="col-md-12">
        <div class="boton-agregar" *ngIf="!info.foto">
          <td-file-input [(ngModel)]="files" (select)="cargarImagen($event, 'imagen')" color="primary" accept="image/*" class="suputamadre">
            <mat-icon>add</mat-icon>
            <p>Foto de documento</p>
          </td-file-input>
        </div>


        <div class="col-md-3 preview-image" *ngIf="info.foto" [ngStyle]="{'background-image': 'url(' + info.foto + ')'}">
          <button mat-mini-fab color="warn" (click)="eliminarFoto()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
  </div>
  <mat-form-field>
    <input matInput [(ngModel)]="info.nombre" placeholder="Nombre del documento" required>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Idioma" required [(ngModel)]="info.idioma">
      <mat-option value="español">Español</mat-option>
      <mat-option value="ingles">Ingles</mat-option>
      <mat-option value="italiano">Italiano</mat-option>
    </mat-select>
  </mat-form-field>

  <td-file-upload #singleFileUpload [(ngModel)]="info.file" (select)="selectEvent($event)" (upload)="uploadEvent($event)"
    (cancel)="cancelEvent()" required>
    <mat-icon>file_upload</mat-icon>
    <span>{{ singleFileUpload.value?.name }}</span>
    <ng-template td-file-input-label>
      <mat-icon>attach_file</mat-icon>
      <span>
        Seleccione archivo
        <span [hidden]="!singleFileUpload?.required">*</span>
      </span>
    </ng-template>
  </td-file-upload>


</div>

<div mat-dialog-actions align="end">
  <div fxFlex></div>
  <button mat-button class="btn-cancelar" (click)="cerrar()" cdkFocusInitial>Cancelar</button>
  <button mat-button class="btn-crear" (click)="guardar()" [disabled]="!info.nombre || !info.file || !info.idioma">Crear documento</button>
</div>
