.navbar {
    padding-left: 2em;
    padding-right: 2em;
    background-color: #fff !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 400;
    .navbar-brand {
        margin-right: 3em;
    }
}

.navbar-nav {
    .nav-item {
        .nav-link::after {
            content: '|';
            padding-left: 1em;
        }
    }
    .nav-item:last-child {
        .nav-link::after {
            content: '';
            padding-left: 1em;
        }
    }
}

.right-options {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#dropDownIdioma {
    background-color: transparent;
}

.btn-ingresar::before {
    content: '|';
    padding-right: 1em;
}

@media screen and (max-width: 992px) {
    .navbar-brand {
        img {
            width: 140px;
        }
    }
    .nav-link {
        padding-top: 15px;
    }
    .navbar-text {
        width: 100%;
    }
    .nav-item {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
        padding-bottom: 10px;
        .btn {
            margin-top: 1em;
            width: 100%;
        }
    }
    .pipe-menu {
        display: none;
    }
    .active {
        border-bottom: none;
    }
    .right-options {
        width: 100%;
    }
    .nav-item {
        .nav-link::after {
            content: '' !important;
            padding-left: 0 !important;
        }
    }
    .nav-item:last-child {
        .nav-link::after {
            content: '';
            padding-left: 0 !important;
        }
    }
    navbar-light .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 0.5);
        font-size: 10px;
        margin: 0em;
    }

    #dropDownIdioma {
      display: none !important;
    }
}
