<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <a class="navbar-brand" href="#">

    <img src="assets/LogoEsp.svg" width="120" *ngIf="idioma == 'español'">
    <img src="assets/LogoEng.svg" width="120" *ngIf="idioma == 'english'">
    <img src="assets/LogoIta.svg" width="120" *ngIf="idioma == 'italiano'">

  </a>

  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    aria-controls="navbarsExampleDefault" aria-label="Toggle
    navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->

  <div class="collapse navbar-collapse" id="navbarText" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#/inicio">
          <span *ngIf="idioma=='español'">INICIO</span>
          <span *ngIf="idioma=='english'">HOME</span>
          <span *ngIf="idioma=='italiano'">PRINCIPALE</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inicio']" fragment="agenda">
          <span *ngIf="idioma=='español'">AGENDA</span>
          <span *ngIf="idioma=='english'">SCHEDULE</span>
          <span *ngIf="idioma=='italiano'">PROGRAMMA</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inicio']" fragment="articulos">
          <span *ngIf="idioma=='español'">BIBLIOTECA</span>
          <span *ngIf="idioma=='english'">LIBRARY</span>
          <span *ngIf="idioma=='italiano'">BIBLIOTECA</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inicio']" fragment="cronicas">
          <span *ngIf="idioma=='español'">CRÓNICAS</span>
          <span *ngIf="idioma=='english'">CHRONICLES</span>
          <span *ngIf="idioma=='italiano'">CRONACHE</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inicio']" fragment="proyectos">
          <span *ngIf="idioma=='español'">PROYECTOS</span>
          <span *ngIf="idioma=='english'">PROJECTS</span>
          <span *ngIf="idioma=='italiano'">PROGETTI</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/foros']" >
          <span *ngIf="idioma=='español'">FOROS</span>
          <span *ngIf="idioma=='english'">FORUMS</span>
          <span *ngIf="idioma=='italiano'">FORUM</span>
        </a>
      </li>
    </ul>
    <span class="navbar-text">
      <ul class="navbar-nav mr-auto right-options">
        <div ngbDropdown>
          <button class="btn" id="dropDownIdioma" ngbDropdownToggle>{{idioma|uppercase}}</button>
          <div ngbDropdownMenu aria-labelledby="dropDownIdioma">
            <button class="dropdown-item" (click)="changeIdioma('español')">ESPAÑOL</button>
            <button class="dropdown-item" (click)="changeIdioma('english')">ENGLISH</button>
            <button class="dropdown-item" (click)="changeIdioma('italiano')">ITALIANO</button>
          </div>
        </div>
        <div ngbDropdown>
          <button class="btn" id="dropDownIdioma" ngbDropdownToggle>{{user.nombre | slice:0:10 | uppercase}}</button>
          <div ngbDropdownMenu aria-labelledby="dropDownIdioma">
            <button class="dropdown-item" (click)="close()" *ngIf="idioma=='español'">Salir</button>
            <button class="dropdown-item" (click)="close()" *ngIf="idioma=='english'">Sign out</button>
            <button class="dropdown-item" (click)="close()" *ngIf="idioma=='italiano'">Disconnessione</button>

          </div>
        </div>
      </ul>
    </span>
  </div>
</nav>


