<barra-navegacion></barra-navegacion>

<div class="contenedor">
  <div class="cabecera-seccion">
    <mat-toolbar class="opciones-cabecera">

      <span class="titulo-seccion">Categorias</span>
      <div class="button-row md-button-right">
        <button mat-button class="btn-crear" matTooltip="Crear nuevo registro" mat-raised-button (click)="crear()">
          <mat-icon matListIcon class="small">add</mat-icon>
          Crear categoria
        </button>
      </div>
    </mat-toolbar>
  </div>


  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">


      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre categoria</mat-header-cell>
        <mat-cell  (click)="ir(row)" *matCellDef="let row">{{row.nombre}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombreingles">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Ingles</mat-header-cell>
        <mat-cell  (click)="ir(row)" *matCellDef="let row">{{row.nombreingles}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombreitaliano">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Italiano</mat-header-cell>
        <mat-cell  (click)="ir(row)" *matCellDef="let row">{{row.nombreitaliano}}</mat-cell>
      </ng-container>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="opciones">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row" class="pull-right-menu">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="eliminar(row)">Eliminar</button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="lista.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </div>

</div>
