<h1 mat-dialog-title>Modificar usuario</h1>

<div mat-dialog-content class="example-container">
  <mat-form-field>
    <input matInput [(ngModel)]="info.nombre" placeholder="Nombre completo" required>
  </mat-form-field>


  <mat-form-field required>
    <input type="email" matInput [(ngModel)]="info.correo" placeholder="Correo electrónico">
  </mat-form-field>


</div>

<div mat-dialog-actions align="end">
  <div fxFlex></div>
  <button mat-button class="btn-cancelar" (click)="cerrar()" cdkFocusInitial>Cancelar</button>
  <button mat-button class="btn-crear" (click)="guardar()" [disabled]="!info.nombre || !info.correo">Modificar</button>
</div>
