<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
      <mat-cell (click)="ir(row)" *matCellDef="let row">{{row.nombre}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.descripcion | slice:0:200}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="asistentes">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nro.Asistentes</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.asistentes.length}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Creado el</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.createdAt | date: 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Modificado el</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.updatedAt | date: 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="opciones">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" class="pull-right-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="eliminar(row)">Eliminar</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="lista.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
