<barra-navegacion></barra-navegacion>

<div class="contenedor">

  <div class="cabecera-seccion">
    <mat-toolbar class="opciones-cabecera">

      <button mat-button class="btn-ruta">Grupos</button>

      <div class="button-row md-button-right">
        <button mat-button class="btn-crear" (click)="crear()">
          Crear grupo
        </button>
      </div>

    </mat-toolbar>
  </div>

  <tabla-grupos></tabla-grupos>

</div>
