<h1 mat-dialog-title>Nueva encuesta</h1>

<div mat-dialog-content class="example-container" style="    display: flex;">



  <mat-tab-group>
    <mat-tab label="Español">
      <mat-form-field required>
        <input type="text" matInput [(ngModel)]="info.titulo" placeholder="Título pregunta">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Pregunta" [(ngModel)]="info.pregunta"></textarea>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Ingles">
      <mat-form-field required>
        <input type="text" matInput [(ngModel)]="info.tituloingles" placeholder="Título ingles">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Pregunta ingles" [(ngModel)]="info.preguntaingles"></textarea>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Italiano">
      <mat-form-field required>
        <input type="text" matInput [(ngModel)]="info.tituloitaliano" placeholder="Título italiano">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Pregunta italiano" [(ngModel)]="info.preguntaitaliano"></textarea>
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>



  <mat-form-field>
    <mat-select placeholder="Estado" required [(ngModel)]="info.estado">
      <mat-option value="Abierta">Abierta</mat-option>
      <mat-option value="Finalizada">Finalizada</mat-option>
    </mat-select>
  </mat-form-field>


</div>

<div mat-dialog-actions align="end">
  <div fxFlex></div>
  <button mat-button class="btn-cancelar" (click)="cerrar()" cdkFocusInitial>Cancelar</button>
  <button mat-button class="btn-crear" (click)="guardar()" [disabled]="!info.titulo || !info.pregunta || !info.estado">Crear encuesta</button>
</div>
