

<section class="actividades">
  <ul class="opciones-actividades">
    <li class="active" [ngClass]="{active: opcion == 'calendario'}">
      <a class="tappable" (click)="opcion='calendario'" *ngIf="idioma=='español'">Calendario </a>
      <a class="tappable" (click)="opcion='calendario'" *ngIf="idioma=='english'">Schedule </a>
      <a class="tappable" (click)="opcion='calendario'" *ngIf="idioma=='italiano'">Programma </a>
    </li>
    <li>/</li>
    <li [ngClass]="{active: opcion == 'actividades'}">
      <a class="tappable" (click)="opcion='actividades'" *ngIf="idioma=='español'">Actividades </a>
      <a class="tappable" (click)="opcion='actividades'" *ngIf="idioma=='english'">Activities </a>
      <a class="tappable" (click)="opcion='actividades'" *ngIf="idioma=='italiano'">Attività </a>
    </li>
  </ul>

  <ngb-tabset orientation="horizontal" *ngIf="opcion == 'calendario'">
    <ngb-tab title="{{item.fecha.toDate() | date:'MMMM dd'}}" *ngFor="let item of actividades">
      <ng-template ngbTabContent>
        <div class="card event-card" style="width: 100%;min-width: 75vw;" *ngFor="let actividad of item.actividades"

        [ngClass]="{ 'card-inicio': actividad.actividad == 'inicio', 'card-estado': actividad.actividad == 'estado', 'card-identidad': actividad.actividad == 'identidad',
                     'card-solidaridad': actividad.actividad == 'solidaridad', 'card-comision': actividad.actividad == 'comision',
                     'card-nuevos': actividad.actividad == 'nuevos', 'card-liderazgo': actividad.actividad == 'liderazgo',
                    'card-propuesta': actividad.actividad == 'propuesta'}" >

          <div class="card-body">

            <h6 class="card-subtitle mb-2 text-muted hour" *ngIf="idioma=='español'">{{actividad.horainicio.toDate() | date:'HH:mm':'UTC-5'}} -
              {{actividad.horafin.toDate() | date:'HH:mm':'UTC-5'}}</h6>
            <h6 class="card-subtitle mb-2 text-muted hour" *ngIf="idioma=='english'">{{actividad.horainicio.toDate() | date:'HH:mm':'UTC-5'}} -
              {{actividad.horafin.toDate() | date:'HH:mm':'UTC-5'}}</h6>
            <h6 class="card-subtitle mb-2 text-muted hour" *ngIf="idioma=='italiano'">{{actividad.horainicio.toDate() | date:'HH:mm':'UTC-5'}} -
              {{actividad.horafin.toDate() | date:'HH:mm':'UTC-5'}}</h6>


            <h6 class="card-subtitle mb-2 text-muted hour tipo-actividad" *ngIf="idioma=='español'">
              <span *ngIf="actividad.actividad == 'inicio'">Bienvenida, presentación, inicio</span>
              <span *ngIf="actividad.actividad == 'estado'">Estado de la congregación, compartiendo en configuraciones</span>
              <span *ngIf="actividad.actividad == 'identidad'">Identidad pasionista, formación, Vida de comunidad y visión</span>
              <span *ngIf="actividad.actividad == 'solidaridad'">Solidaridad y finanzas</span>
              <span *ngIf="actividad.actividad == 'comision'">Comisión juridica</span>
              <span *ngIf="actividad.actividad == 'nuevos'">Nuevos puntos, nuevas fronteras, trabajos laicos</span>
              <span *ngIf="actividad.actividad == 'liderazgo'">Liderazgo, elecciones</span>
              <span *ngIf="actividad.actividad == 'propuesta'">Propuestas formuladas y votaciones</span>
            </h6>

            <h6 class="card-subtitle mb-2 text-muted hour tipo-actividad" *ngIf="idioma=='english'">
              <span *ngIf="actividad.actividad == 'inicio'">Welcome, presentation, home</span>
              <span *ngIf="actividad.actividad == 'estado'">State of the congregation, sharing in configurations</span>
              <span *ngIf="actividad.actividad == 'identidad'">Passionist identity, formation, Community life and vision</span>
              <span *ngIf="actividad.actividad == 'solidaridad'">Solidarity and finances</span>
              <span *ngIf="actividad.actividad == 'comision'">Legal Commission</span>
              <span *ngIf="actividad.actividad == 'nuevos'">New points, new frontiers, lay jobs</span>
              <span *ngIf="actividad.actividad == 'liderazgo'">Leadership, elections</span>
              <span *ngIf="actividad.actividad == 'propuesta'">Proposals formulated and votes</span>
            </h6>

            <h6 class="card-subtitle mb-2 text-muted hour tipo-actividad" *ngIf="idioma=='italiano'">
              <span *ngIf="actividad.actividad == 'inicio'">Benvenuto, presentazione, casa</span>
              <span *ngIf="actividad.actividad == 'estado'">Stato della congregazione, condivisione in configurazioni</span>
              <span *ngIf="actividad.actividad == 'identidad'">Identità passionista, formazione, vita comunitaria e visione</span>
              <span *ngIf="actividad.actividad == 'solidaridad'">Solidarietà e finanze</span>
              <span *ngIf="actividad.actividad == 'comision'">Commissione legale</span>
              <span *ngIf="actividad.actividad == 'nuevos'">Nuovi punti, nuove frontiere, posti di lavoro</span>
              <span *ngIf="actividad.actividad == 'liderazgo'">Leadership, elezioni</span>
              <span *ngIf="actividad.actividad == 'propuesta'">Proposte formulate e voti</span>
            </h6>


            <h6 class="card-title line event-title" *ngIf="idioma=='español'">{{actividad.titulo}}</h6>
            <h6 class="card-title line event-title" *ngIf="idioma=='english'">{{actividad.tituloingles}}</h6>
            <h6 class="card-title line event-title" *ngIf="idioma=='italiano'">{{actividad.tituloitaliano}}</h6>

            <p class="card-text content-event" *ngIf="idioma=='español'">{{actividad.descripcion}}</p>
            <p class="card-text content-event" *ngIf="idioma=='english'">{{actividad.descripcioningles}}</p>
            <p class="card-text content-event" *ngIf="idioma=='italiano'">{{actividad.descripcionitaliano}}</p>
          </div>
        </div>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <div class="container-actividades" *ngIf="opcion == 'actividades'">
    <div class="card contenedor">
      <div class="card-body">

        <h6 class="card-title line event-title" *ngIf="idioma=='español'">Sin iniciar</h6>
        <h6 class="card-title line event-title" *ngIf="idioma=='english'">Without starting</h6>
        <h6 class="card-title line event-title" *ngIf="idioma=='italiano'">Senza iniziare</h6>

        <div class="card actividad" *ngFor="let item of tareasPendientes">
          <div class="card-body">
            <h6 class="card-title" *ngIf="idioma=='español'">{{item.titulo}}</h6>
            <p class="card-text" *ngIf="idioma=='español'">{{item.notas}}</p>
            <h6 class="card-title" *ngIf="idioma=='english'">{{item.tituloingles}}</h6>
            <p class="card-text" *ngIf="idioma=='english'">{{item.notasingles}}</p>
            <h6 class="card-title" *ngIf="idioma=='italiano'">{{item.tituloitaliano}}</h6>
            <p class="card-text" *ngIf="idioma=='italiano'">{{item.notasitaliano}}</p>
            <a target="blank" [href]="item.url" class="attach-button" *ngIf="idioma=='español' && item.url">
              <i class="fal fa-paperclip"></i> Ver adjunto
            </a>
            <a target="blank" [href]="item.urlingles" class="attach-button" *ngIf="idioma=='english' && item.urlingles">
              <i class="fal fa-paperclip"></i> See attached
            </a>
            <a target="blank" [href]="item.urlitaliano" class="attach-button" *ngIf="idioma=='italiano' && item.urlitaliano">
              <i class="fal fa-paperclip"></i> Vedi allegato
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card contenedor">
      <div class="card-body">
        <h6 class="card-title line event-title" *ngIf="idioma=='español'">En proceso</h6>
        <h6 class="card-title line event-title" *ngIf="idioma=='english'">In process</h6>
        <h6 class="card-title line event-title" *ngIf="idioma=='italiano'">In corso</h6>

        <div class="card actividad" *ngFor="let item of tareasEnProceso">
          <div class="card-body">
            <h6 class="card-title" *ngIf="idioma=='español'">{{item.titulo}}</h6>
            <p class="card-text" *ngIf="idioma=='español'">{{item.notas}}</p>
            <h6 class="card-title" *ngIf="idioma=='english'">{{item.tituloingles}}</h6>
            <p class="card-text" *ngIf="idioma=='english'">{{item.notasingles}}</p>
            <h6 class="card-title" *ngIf="idioma=='italiano'">{{item.tituloitaliano}}</h6>
            <p class="card-text" *ngIf="idioma=='italiano'">{{item.notasitaliano}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card contenedor">
      <div class="card-body">
        <h6 class="card-title line event-title" *ngIf="idioma=='español'">En revisión</h6>
        <h6 class="card-title line event-title" *ngIf="idioma=='english'">In review</h6>
        <h6 class="card-title line event-title" *ngIf="idioma=='italiano'">In revisione</h6>
        <div class="card actividad" *ngFor="let item of tareasEnRevision">
          <div class="card-body">
            <h6 class="card-title" *ngIf="idioma=='español'">{{item.titulo}}</h6>
            <p class="card-text" *ngIf="idioma=='español'">{{item.notas}}</p>
            <h6 class="card-title" *ngIf="idioma=='english'">{{item.tituloingles}}</h6>
            <p class="card-text" *ngIf="idioma=='english'">{{item.notasingles}}</p>
            <h6 class="card-title" *ngIf="idioma=='italiano'">{{item.tituloitaliano}}</h6>
            <p class="card-text" *ngIf="idioma=='italiano'">{{item.notasitaliano}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card contenedor">
      <div class="card-body">
        <h6 class="card-title line event-title" *ngIf="idioma=='español'">Terminadas</h6>
        <h6 class="card-title line event-title" *ngIf="idioma=='english'">Finished</h6>
        <h6 class="card-title line event-title" *ngIf="idioma=='italiano'">Finito</h6>
        <div class="card actividad" *ngFor="let item of tareasTerminadas">
          <div class="card-body">
            <h6 class="card-title" *ngIf="idioma=='español'">{{item.titulo}}</h6>
            <p class="card-text" *ngIf="idioma=='español'">{{item.notas}}</p>
            <h6 class="card-title" *ngIf="idioma=='english'">{{item.tituloingles}}</h6>
            <p class="card-text" *ngIf="idioma=='english'">{{item.notasingles}}</p>
            <h6 class="card-title" *ngIf="idioma=='italiano'">{{item.tituloitaliano}}</h6>
            <p class="card-text" *ngIf="idioma=='italiano'">{{item.notasitaliano}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
