.opciones-actividades {
    padding: 0;
    list-style: none;
    display: inline-flex;
    li {
        margin: .4em;
        font-size: 1.7em;
        border-bottom: 4px solid transparent;
        a {
            color: #EE7835 !important;
        }
        a:hover {
            text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
            text-decoration: none !important;
        }
    }
    li.active {
        border-bottom: 4px solid #9F2820;
        transition: 1s;
    }
}

.actividades {
    padding: 4em 5em 2em;
}

.event-card {
    border: 0px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .5);
    margin-bottom: .5em;
}

.line {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: .5em;
}

.hour {
    font-size: 14px !important;
    color: rgba(0, 0, 0, .5);
    font-weight: 100;
}

.event-title {
    font-size: 22px !important;
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
}

.content-event {
    font-size: 16px !important;
    color: rgba(0, 0, 0, .5);
    font-weight: 300;
}

.container-actividades {
    display: flex;
    height: 600px;
    border: 1px solid rgba(0, 0, 0, .3);
    overflow-y: scroll;
    margin-left: 1px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #dedede;
    padding: 1em;
    background-color: #9F2820;
    .card {
        margin: 3px;
    }
}

.card-inicio {
    background-color: #95f893 !important;
    .card-subtitle,
    .card-title,
    .card-text {
        color: #000 !important;
    }
}

.card-estado {
    background-color: #bed5f0 !important;
    .card-subtitle,
    .card-title,
    .card-text {
        color: #000 !important;
    }
}

.card-identidad {
    background-color: #f77c79 !important;
    .card-subtitle,
    .card-title,
    .card-text {
        color: #fff !important;
    }
}

.card-solidaridad {
    background-color: #fde68f !important;
}

.card-comision {
    background-color: #8fa9df !important;
    .card-subtitle,
    .card-title,
    .card-text {
        color: #fff !important;
    }
}

.card-nuevos {
    background-color: #c09839 !important;
    .card-subtitle,
    .card-title,
    .card-text {
        color: #fff !important;
    }
}

.card-liderazgo {
    background-color: #d0cece !important;
    .card-subtitle,
    .card-title,
    .card-text {
        color: #000 !important;
    }
}

.card-propuesta {
    background-color: #f1b5ed !important;
    .card-subtitle,
    .card-title,
    .card-text {
        color: #fff !important;
        text-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    }
}

.tipo-actividad {
    position: absolute;
    top: 1.5em;
    right: 2em;
}

.attach-button {
  cursor: pointer;
  &:hover{
    font-weight: bold;
  }
}
