<div class="card text-center" style="margin-bottom:1em;">
  <div class="card-header" style="background: #fff; color: #000; font-size: 20px; font-weight: 700;">
    <span *ngIf="idioma=='español'">{{info.titulo}} </span>
    <span *ngIf="idioma=='english'">{{info.tituloingles}} </span>
    <span *ngIf="idioma=='italiano'">{{info.tituloitaliano}} </span>
  </div>
  <div class="card-body" *ngIf="!contestada">
    <h5 class="card-title" style="margin-bottom: 2em;">
      <span *ngIf="idioma=='español'">{{info.pregunta}} </span>
      <span *ngIf="idioma=='english'">{{info.preguntaingles}} </span>
      <span *ngIf="idioma=='italiano'">{{info.preguntaitaliano}} </span>
    </h5>
    <button class="btn btn-success btn-lg" style="width: 26%; margin-right: 2px;" (click)="responder('si')">
      <span *ngIf="idioma=='español'">Si </span>
      <span *ngIf="idioma=='english'">Yes </span>
      <span *ngIf="idioma=='italiano'">Se </span>
    </button>
    <button class="btn btn-danger btn-lg" style="width: 26%; margin-left: 2px;" (click)="responder('no')">
      <span *ngIf="idioma=='español'">No </span>
      <span *ngIf="idioma=='english'">No </span>
      <span *ngIf="idioma=='italiano'">Non </span>
    </button>

    <button class="btn btn-warning btn-lg" style="width: 26%; margin-left: 2px;" (click)="responder('blanco')">
      <span *ngIf="idioma=='español'">Blanco </span>
      <span *ngIf="idioma=='english'">Blank vote </span>
      <span *ngIf="idioma=='italiano'">Vota vuoto</span>
    </button>
  </div>
  <div class="card-body" *ngIf="contestada">

    <h5 class="card-title" style="margin-bottom: 2em;">
      <span *ngIf="idioma=='español'">{{info.pregunta}} </span>
      <span *ngIf="idioma=='english'">{{info.preguntaingles}} </span>
      <span *ngIf="idioma=='italiano'">{{info.preguntaitaliano}} </span>
    </h5>

    <div class="row" style="margin-bottom: 1em;">
      <div class="col-sm-2">
        <div class="progress" style="height: 50px;">
          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span *ngIf="idioma=='español'">Si </span>
            <span *ngIf="idioma=='english'">Yes </span>
            <span *ngIf="idioma=='italiano'">Se </span>
          </div>
        </div>
      </div>
      <div class="col-sm-10" style="display: inline-flex; align-items: center;">
        <strong style="font-size: 18px">
           {{totalsi | number:'0.0-0'}}
            <span *ngIf="idioma=='español'"> Votos </span>
            <span *ngIf="idioma=='english'"> Votes </span>
            <span *ngIf="idioma=='italiano'"> Voti </span>
           | {{porcentajesi | number:'0.0-2'}} %
        </strong>
      </div>
    </div>
    <div class="row" style="margin-bottom: 1em;">
      <div class="col-sm-2">
        <div class="progress" style="height: 50px;">
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span *ngIf="idioma=='español'">No </span>
            <span *ngIf="idioma=='english'">No </span>
            <span *ngIf="idioma=='italiano'">Non </span>
          </div>
        </div>
      </div>
      <div class="col-sm-10" style="display: inline-flex; align-items: center;">
        <strong style="font-size: 18px">
          {{totalno}}
          <span *ngIf="idioma=='español'"> Votos </span>
          <span *ngIf="idioma=='english'"> Votes </span>
          <span *ngIf="idioma=='italiano'"> Voti </span>

           | {{porcentajeno | number:'0.0-2'}} %

        </strong>
      </div>
    </div>
    <div class="row" style="margin-bottom: 1em;">
      <div class="col-sm-2">
        <div class="progress" style="height: 50px;">
          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
            style="width: 100%">
            <span *ngIf="idioma=='español'">Blanco </span>
            <span *ngIf="idioma=='english'">Blank </span>
            <span *ngIf="idioma=='italiano'">Bianco </span>
          </div>
        </div>
      </div>
      <div class="col-sm-10" style="display: inline-flex; align-items: center;">
        <strong style="font-size: 18px">
          {{totalblanco}}
          <span *ngIf="idioma=='español'"> Votos </span>
          <span *ngIf="idioma=='english'"> Votes </span>
          <span *ngIf="idioma=='italiano'"> Voti </span>

          | {{porcentajeno | number:'0.0-2'}} %

        </strong>
      </div>
    </div>
    <div class="progress" style="height: 50px;">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [style.width.%]="porcentajesi">{{porcentajesi | number:'0.0-2'}}%</div>
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"  [style.width.%]="porcentajeno">{{porcentajeno | number:'0.0-2'}}%</div>
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" [style.width.%]="porcentajeblanco">{{porcentajeblanco| number:'0.0-2'}}%</div>

    </div>
  </div>
</div>
