.icon-pdf {
    background-image: url(../../../../../assets/icons/icon-pdf.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 3em;
    color: #fb7958 !important;
    border: 1px dashed !important;
    button {
        position: absolute;
        right: 1em;
    }
}
