.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 25px 24px 0;
    background-color: #fff;
    color: white;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    height: 50vh;
}

input.mat-input-element {
    color: black;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-column-select {
    overflow: visible;
}

.mat-column-placa {
    flex: 0 0 10%;
    text-align: left;
}

.mat-column-propietario {
    flex: 0 0 20%;
}

.mat-column-flota {
    flex: 0 0 20%;
}

.mat-column-estado {
    flex: 0 0 20%;
}

.label-active {
    background: green;
    color: white;
    padding: .5em;
    border-radius: 3px;
}

.label-inactive {
    background: red;
    color: white;
    padding: .5em;
    border-radius: 3px;
}

.estatus-cell {
    overflow: initial;
}
