.sidenav-container {
    height: 100%;
}

span {
    font-weight: 100;
}

mat-toolbar {
    border-top: 3px solid #ff7a59;
    height: 60px;
    background-color: #2e3f50 !important;
    color: #fff;
}

.mat-button{
    height: 100% !important;
}

.example-spacer {
    flex: 1 1 auto;
}

.titulo {
    margin-right: 1em;
}

.foto-perfil {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-right: 10px;
}
