<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar>
      <span class="titulo">Pasionistas</span>

      <button mat-button  routerLinkActive="active" [routerLink]="['/tareas']">
        Tareas
      </button>

      <button mat-button routerLinkActive="active" [routerLink]="['/calendario']">
        Calendario
      </button>

      <button mat-button [routerLink]="['/foros']">
        Foros
      </button>

      <button mat-button [routerLink]="['/cronicas']">
        Crónicas
      </button>

      <button mat-button [routerLink]="['/proyectos']">
        Proyecto
      </button>

      <button mat-button [routerLink]="['/encuestas']">
        Encuestas
      </button>

      <button mat-button [routerLink]="['/carpetas/0']">
        Documentos
      </button>


      <button mat-button [routerLink]="['/grupos']">
        Grupos
      </button>



      <button mat-button [matMenuTriggerFor]="menuMaestros">
        Maestros
        <mat-icon class="example-icon">arrow_drop_down</mat-icon>
      </button>

      <mat-menu #menuMaestros="matMenu" yPosition="below">

        <button mat-menu-item [routerLink]="['/administradores']">
          Administradores
        </button>

        <button mat-menu-item [routerLink]="['/asistentes']">
          Asistentes
        </button>

        <!--<button mat-menu-item [routerLink]="['/parametros/categorias']">
          Categorias
        </button>-->

        <button mat-menu-item [routerLink]="['/parametros/secciones-documentos']">
          Secciones de documentos
        </button>

        <button mat-menu-item [routerLink]="['/parametros/mensaje-papa']">
          Mensaje del papa
        </button>

      </mat-menu>

      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menuPerfil">
        <img class="foto-perfil" src="assets/icons/user.png">
        {{info.nombre}}
        <mat-icon class="example-icon">arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menuPerfil="matMenu" yPosition="below">
        <button mat-menu-item (click)="close()">
          Cerrar sesión
        </button>
      </mat-menu>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
